#pencil1{
  position: relative;
  left:10px;
  top: -745px;
  color: #8f001a;
}

#pencil1:hover{
  cursor: pointer;
}

#pencil2{
  position: relative;
  left:140px;
  top:-790px;
  color: #8f001a;
}

#pencil2:hover{
  cursor: pointer;
}

#pencil3{
  position: relative;
  left:1590px;
  top:-840px;
  color: #8f001a;
}

#pencil3:hover{
  cursor: pointer;
}

#pencil4{
  z-index: 2000;
  position: fixed;
  left:20px;
  top:20px;
  color: #dcafb7;
}

#pencil4:hover{
  cursor: pointer;
}

.header{
  position: relative;
  top: -150px;
}

.drop1{
  position: relative;
  left: -450px;
  top: -510px;
}

.drop2 {
  position: relative;
  top: -280px;
  left: -320px;
}

.drop3 {
  position: relative;
  top: -328px;
  left: 900px;
}

.drop4{
  position: relative;
  top: -400px;
  left: -420px;
}
