.pencil {
  position: absolute;
}

#pencil1:hover{
  cursor: pointer;
}

#pencil2{
  position: fixed;
  left: 90px;
  top: 80px;
  color: #8f001a;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

#pencil2:hover{
  cursor: pointer;
}

#pencil3{
  position: fixed;
  top: 80px;
  right: 20px;
  color: #8f001a;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

#pencil3:hover{
  cursor: pointer;
}

#pencil4{
  z-index: 2000;
  position: fixed;
  left:20px;
  top:20px;
  color: #dcafb7;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

#pencil4:hover{
  cursor: pointer;
}

.header{
  position: relative;
  top: -150px;
}

.drop1{
  position: absolute;
  left: -450px;
  top: 250px;
}

.drop2 {
  position: fixed;
  top: 640px;
  left: -360px;
}

.drop3 {
  position: fixed;
  top: 640px;
  right: 760px;
}

.drop4{
  position: absolute;
  top: -270px;
  left: -420px;
}

@media screen and (max-width: 960px){
  #pencil2 {
    left: 20px;
    top: 140px;
  }
  .drop2 {
    top: 700px;
    left: -430px;
  }
  #pencil3 {
    top: 140px;
  }
  .drop3 {
    top: 700px;
  }
}