@import url('https://fonts.googleapis.com/css?family=Raleway:200');


.area{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  font-family: 'Raleway';
  font-size: 2.5rem;
  position: absolute;
  left: 700px;
  top: 200px;
  z-index: 2;
}
.area form:after{
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.area p{
  text-align: left;
  font-size: 2.0rem;
  padding: 30px;
  font-weight: 700;
}

.area form {
  position: relative;
  top: -50px;
  right: 250px;
  width: 1000px;
  height: 600px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  --borderWidth: 6px;
  border-radius: var(--borderWidth);
}

#add {
  color: white;
  z-index: 2000;
  font-size: 1.5rem;
  position: relative;
  bottom: 20px;
  left: 412px;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.area input[type="file"] {
  position: relative;
  left: 0px;
  font-size: 0rem;
  width: 0.1px;
	height: 0.1px;
  opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  text-align: left;
}

.area label{
  position: relative;
  top: 20px;
  left: -300px;
  padding: 30px;
  font-size: 2.0rem;
  font-weight: 700;
  color: black;
  text-align: left;
  cursor: pointer;
}

.area select {
  position: relative;
  top: 20px;
  left: -280px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  text-align: left;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#box {
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.3rem;
  font-weight: 2000;
}


#box1 {
  position: relative;
  top: 40px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#box2{
  position: relative;
  top:100px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#box3{
  position: relative;
  left: 570px;
  top:0px;
  z-index: 200;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  color: black;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#box3 input, #box3 textarea {
  position: relative;
  top: 0px;
  color: black;
  font-weight: 700;
  text-align: left;
  width: 340px;
  border: none;
  padding: 4px;
  outline: none;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#prevgame{
    position: relative;
    top: 70px;
    left: -75px;
    padding: 30px;
    font-size: 2.0rem;
    font-weight: 700;
    color: black;
    text-align: left;
    cursor: pointer;
}

#prevgames {
  position: relative;
  top: 70px;
  left: -50px;
}

#file {
  position: absolute;
  top: 0px;
  left: -20px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#preview{
  display: flex;
  border: solid white 3px;
  position: relative;
  left: 140px;
  width: 80px;
  height: 80px;
}

.react-switch {
  position: relative;
  top: -20px;
  left: 330px;
  vertical-align: middle;
  margin-left: 4px;
}
