/* General styles */
.area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  border: none;
}

/* Form styles */
.area > form {
  position: relative;
  background: #fff;
  width: 60%;
  max-width: 900px;
  text-align: center;
  border-radius: 0px;
  border: solid 7px grey;
  box-shadow: var(--box-shadow);
  border-radius: 9px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  animation: none !important;
}

.form-input > div {
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-weight: 200;
}

.button-container {
  border-top: 1px dashed rgb(145, 145, 145);
  margin-bottom: -15px !important;
  height: 100%;
  width: 100%;
  display: flex;
}

.button-container button,
.modal-button {
  font-family: "Montserrat", sans-serif;
  height: 50px !important;
  width: auto !important;
  min-width: 100px;
  font-size: 1.5rem;
  margin-top: 18px;
  margin-right: 5px;
  margin-left: 5px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.green {
  border: 2px outset rgb(136, 136, 136);
  --color: rgb(161, 255, 148);
  background-color: var(--color);
  border-color: var(--color);
  margin-right: 0px;
}

.red {
  border: 2px outset rgb(136, 136, 136);
  --color: #ff9898;
  background-color: var(--color);
  border-color: var(--color);
}

.primary {
  font-size: 1.2vw;
  color: var(--white);
  border: 2px outset rgb(136, 136, 136);
  background-color: var(--primary);
  border-color: var(--primary);
}


.area input[type="file"] {
  position: relative;
  left: 0px;
  font-size: 0rem;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  text-align: left;
}

.area select,
#namei {
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 200;
  color: black;
  text-align: left;
  font-family: inherit;
}


/* Modal styles */

.createmodalarea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  outline: none;
  animation: none !important;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-imgs {
  background-color: white;
  overflow: hidden;
  border-radius: 0%;
  margin-top: 10px;
  padding: 10px;
  min-height: 80px;
  display: flex;
  overflow-y: hidden;
  align-items: center; 
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -120px;
}
.form-imgs.visible {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  top: 0px;
}
.form-imgs button {
  position: absolute;
  right: 20px;
  margin-bottom: 20px;
}
.form-imgs img {
  height: 100px;
  width: 100px;
  max-width: 100px !important;
  border: solid 1px black;
  direction: rtl;
  border-radius: 10%;
  cursor: pointer;
  margin: 5px;
  object-fit: cover;
}
.form-imgs img:hover {
  border-radius: 9px;
}
.form-imgpreview img{
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 10%;
  overflow: hidden;
}

.create-fix {
  position: relative;
  left: 20px;
  fill: var(--red) !important;
  font-size: 1.1em;
  transition: all .3s;
  padding: 5px;
  border: 1px solid var(--red);
  border-radius:20px;
}

.create-fix:hover:before {
  left: 102%;
}

.create-fix:hover {
  background-color: white;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 10px 10px 3px 10px;
}

@media screen and (orientation: portrait) {

  .area {
    font-size: 1.2rem;
  }

  .form-input > div {
    flex-direction: column;
  }
  .form-input > div > * {
    margin-top: 10px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
  }
  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .button-container{
    border-top: 1px dashed rgb(145, 145, 145);
    text-align: center;
    vertical-align: center;
    height: 50px;
    width: 100%;
    margin-top: 10px;
  }


 
}
