.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.spinner > svg {
  display: block;
  filter: sepia(5) brightness(0.5) hue-rotate(-70deg) saturate(25) brightness(0.7);
}
