.cmenu {
  background-color: white;
  font-size: 1.5rem;
  border: 1px solid var(--primary);
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  position: absolute;
  z-index: 20000;
  animation-duration: 0.3s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-top: 20%;
    opacity: 0;
  }
  to {
    margin-bottom: 0%;
    opacity: 1;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.cmenu ul, li {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  animation-duration: 0.6s;
}

.layerLbl {
  padding: 0px 5px;
  width: 50%;
  display: inline-block;
}

.layerBtns {
  padding: 0px 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.layerBtns > li {
  font-size: 0.7em;
  text-align: center;
}

.layerBtns > li.disabled {
  color: grey;
  pointer-events: none;
}

.cmenu li:hover {
  background-color: grey;
  cursor: pointer;
}

.drop {
  opacity: 1;
  position: relative;
  width: 100px;
  height: max-content
}

.conditionsedit {
  width: 320px;
}
.conditionsedit select {
  font-size: .7em;
  padding: 4px 0;
  margin-top: 3px;
  border-width: 1px;
  border-radius: 2px;
}
.conditionsedit p {
  font-size: .8em;
  margin-bottom: 4px;
}
.conditionsedit input {
  font-family: inherit;
  padding: 4px;
  font-size: .7em;
  width: 100%;
  margin-top: 3px;
}
.conditionsedit input::placeholder {
  opacity: 0.5;
}
.conditionsbetween {
  display: flex;
  align-items: center;
}
.conditionsbetween > p {
  margin: 0 10px;
}
.smaller{
  font-size: .75em !important;
  margin-top: 5px;
}

.deckModal {
  min-width: 300px;
  max-width: 500px;
  background-color: white;
  margin: 0 auto;
  margin-top: 15vh;
  border: 2px solid rgb(145, 145, 145);
  border-radius: var(--border-radius);
  padding: 15px;
  box-shadow: var(--box-shadow);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  z-index: 220000;
}



.custom-deck-modal-card-preview{
  display: flex;
  position: relative;
  text-align: center !important;
}

.custom-deck-modal-cards{
  position: relative;
}

.custom-deck-modal-cards-text{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 40%);
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.custom-deck-modal-warning{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 40%);
  font-size: 1.0rem;
  font-weight: bold;
  color: red;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.custom-deck-modal-card-image button{
  margin-top: 30px;
  position: relative;
  width: 30%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  border: None;
}

.custom-deck-modal-card-text input {
  position: relative;
  top: 0%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, 0%);
  font-size: 1.0rem;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.custom-deck-modal-footer{
  display: flex;
  justify-content: space-between;
}

.custom-deck-modal-add-card{
  width: 30%;
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  border: None;
  background-color: var(--green);
}

.custom-deck-modal-save{
  width: 30%;
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  background-color: var(--red);
  border-radius: 5px;
  padding: 5px;
  border: None;
}

#deck-preview{
  width: 150px !important;
  height: 170px !important;
  margin: 0 auto;
  background-color: aqua !important;
  z-index: 1;
}

.custom-alert {
  z-index: 1000000;
  position: absolute;
  right: 2%;
  top: 2%;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px 0px;
  font-weight: bold;
  min-width: 150px;
  max-width: 30%;
  text-align: start;
  visibility: hidden;
  background-color: rgb(189, 230, 176);
  border-color: rgb(16, 133, 22);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  text-align: center;
}

.custom-alert.visible {
  opacity: 1;
  visibility: visible;
}