.cookiesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  padding: 300px;

}

.cookiesInner {
  margin: auto;
  text-align: justify;
  font-size: 17px;
  padding: 60px 90px;
  max-width: 1000px;
  background-color: var(--primary);
  border-radius: 10px;
    
}

.cookiesInner a {
  color: white;
  text-decoration: underline;
}

.cookiesInner button {
  font-size: 1.4em;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
}

.cookiesInner a:hover, button:hover {
  cursor: pointer;
}

.cookiesInfo {
  padding-right: 10px;
}


