.cookiesContainer {
  width: 80%;
  /* height: 90%; */

  position: fixed;
  bottom: 30%;
  left: 10%;
  box-shadow: 0 0 10px #2c323d;
  color: white;
  z-index: 10;
  align-items: center;
  padding: 200px;
  text-align: center;
  background-color: var(--text-color);
  opacity: 0.4;
}

.cookiesInner {
  margin: auto;
  text-align: justify;
  font-size: 15px;
  padding: 200px;
  max-width: 1000px;
    background-color: var(--primary);
    opacity: 1 !important;
}

.cookiesInner a {
  color: white;
  text-decoration: underline;
}

.cookiesInner button {
  font-size: 1.4em;
  padding: 4px 7px;
  border: none;
  border-radius: 10px;
}

.cookiesInner a:hover, button:hover {
  cursor: pointer;
}

.cookiesInfo {
  padding-right: 10px;
}
