.personalAreaAnimOn {
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1) !important;
}

.info0 {
  width: calc(100% - 130px);
  height: calc(100% - 70px);
  text-align: center;
  position: fixed;
  left: 100px;
  bottom: 75px;
  overflow: hidden;
  transform: translate(0%, 100%);
  padding: 10px;
  background-color: rgba(110, 25, 25, 0);
  border-radius: 15px 15px 0px 0px;
  z-index: 2;
  pointer-events: none;
}

.info1 {
  width: calc(100% - 130px);
  height: calc(100% - 60px);
  overflow: hidden;
  text-align: center;
  position: fixed;
  left: 100px;
  bottom: 0px;
  transform: translate(0%, 0%);
  padding: 10px;
  background-color: white;

  border: 1px solid var(--primary);
  border-radius: 15px 15px 0px 0px;
  z-index: 2;
  transition: none;
}

.info1>.personalAreaStageContainer {
  background-image:
    repeating-linear-gradient(rgb(0, 0, 0, 0.1) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, rgb(0, 0, 0, 0.1) 0 1px, transparent 1px 100%);
  background-size: 8vh 8vh;
}

.info0 button {
  z-index: 1;
  position: relative;
  float: right;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.info0 button:hover {
  cursor: pointer;
}

.info1 button {
  z-index: 1;
  position: relative;
  float: right;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.info1 button:hover {
  cursor: pointer;
}

.customObj button {
  float: none;
}

.personalAreaToggle {
  color: var(--primary);
  padding: 5px 3px 5px 3px;
  margin-top: 0px;
  border-radius: 40%;
  border: 1px solid var(--primary);
  box-shadow: var(--box-shadow);
  background-color: white;
  pointer-events: all;
}

.off {
  margin-top: 10px;
}


#rolesdrop {
  pointer-events: all;
}

#pencili1 {
  position: fixed;
  bottom: calc(60% - 10px);
  width: 20px;
  left: 450px;
  color: var(--primary);
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

#pencili0 {
  position: fixed;
  bottom: 70px;
  width: 20px;
  left: 450px;
  color: var(--primary);
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

.personalAreaStageContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}

#personalGameContainer {
  width: 100%;
  height: 100%;
  margin-top: 0px !important;
}

@media screen and (orientation: portrait) {
  .info0 {
    height: calc(100% - 110px);
    width: calc(100% - 60px);
    left: 30px;
  }

  .info1 {
    height: calc(100% - 110px);
    width: calc(100% - 60px);
    left: 30px;
  }

  #pencili1 {
    left: 380px;
  }

  #pencili0 {
    left: 380px;
  }
}
