#textEditArea {
  border: none;
  padding: 0px;
  margin: 0px;
  outline: none;
  resize: none;
  background: rgba(255, 255, 255, 0);
  overflow-y: hidden;
  line-height: 100%;
  transform-origin: top left;
  z-index: 100000;
  position: absolute;
}

#editMainContainer {
  background-color: rgba(255, 255, 255, 0.63);
  border: 3px solid black;
  width: 1080px;
  height: 720px;
  outline: none;
  margin: 0 auto;
  transform: translateY(50% - calc(var(--groupContainerH / 2)));
}