.app-container {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0rem;
  height: 120%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-container table {
  border-collapse: collapse;
  width: 100%;
}

.app-container th, .app-container td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 1vw;
  width: 10%;
}

.app-container th {
  background-color: #e5e5e5;
}

.app-container td {
  background-color: #b0b0b0;
}

.app-container form {
  display: flex;
  gap: 5px;
}

.app-container form td:last-child {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0px;
  width: 100%;
}

.app-container form * {
  font-size: 1vw;
}

.addstudent {
  position: relative;
  top: 5px;
  color: black;
}

.addstudent h2 {
  color: black;
}

#firstname {
  width: 20%;
}

#lastname {
  width: 20%;
}

#email {
  width: 20%;
}

#groupnumber {
  width: 20%;
}

#addstudent {
  position: relative;
  top: -5px;
  left: 20px;
  width: 100px;
  height: 40px;
  margin-bottom: -30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

#emailbutton {
  color: white;
  z-index: 2000;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0px;
  left: 700px;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #8f001a;
}

#emailstudent {
  color: white;
  z-index: 2000000;
  font-size: 1.0rem;
  position: sticky;
  bottom: 310px;
  left: 130px;
  border-radius: 5%;
  width: 500px;
  height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #8f001a;
}

#roledropdown {
  position: relative;
  top: 0px;
  left: 0px;
  width: 220px;
  border-radius: 2px;
  border: 1px solid #767676;
}

@media screen and (max-width: 960px) {
  .app-container {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #emailbutton {
    font-size: 1.0rem;
    left: 370px;
    width: 70px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #8f001a;
  }
}