.areacsv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 900px;
  font-family: 'Raleway';
  font-size: 1rem;
  position: relative;
  z-index: 20000;
  border-radius: 10%;
}

.areacsv form:after {
  --borderWidth: 3px;
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: black;
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.areacsvform {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  border: solid 2px var(--primary);
  display: flex;
  flex-direction: column;
}

.areainvitecollabs > div {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
  overflow-y: auto;
}
.areainvitecollabs > p {
  text-align: left;
  font-size: 1em;
  padding: 0;
  font-weight: unset;
}

.areacsvform input[type="file"] {
  display: none; 
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.areacsv-filename {
  display: flex;
  font-size: 1.2rem;
  margin: 0 20px;
}
.areacsv-filename > p {
  margin-right: 20px;
}
.areacsv-filename > input {
  flex: 1;
  font-size: 1.2rem;
}
.areacsv-links {
  display: flex;
  margin: 40px 20px;
  justify-content: space-between;
}

.areacsv select {
  position: relative;
  bottom: -17px;
  
  color: black;
  text-align: left;
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

.modal-bottomright-button {
  font-family: inherit;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  font-size: 1.5rem;
  align-self: flex-end;
  margin-top: auto;
}
.modal-bottomright-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.csv-link {
  color: blue;
  text-decoration: underline;
  font-size: 1.5rem;
  cursor: pointer;
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

#addj {
  color: white;
  z-index: 2000;
  font-size: 1.5rem;
  position: absolute;
  bottom: 40px;
  left: 852px;
  border-radius: 5%;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: var(--primary);
}

#boxtabs {
  position: absolute;
  left: 0px;
  top: 230px;
  z-index: 200;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 100px;
  color: black;
  font-family: 'Raleway';
  font-size: 2.0rem;
}

#boxtabs input, #boxtabs textarea {
  position: relative;
  left: 40px;
  top: 0px;
  color: grey;
  font-weight: 700;
  text-align: left;
  width: 340px;
  border: none;
  padding: 4px;
  outline: none;
  font-family: 'Raleway';
  font-size: 2.0rem;
  border: solid 2px black;
}

#boxtabs input::placeholder {
  opacity: 0.8;
}

#roles-selection {
  position: relative;
}

#rolesdrops {
  position: relative;
  width: 300px;
}

.modal-role-select {
  align-items: center;
  justify-content: space-between;
}
.modal-role-select > #rolesdrops {
  margin-top: -170px;
  height: 55px;
  display: flex;
}
.modal-role-select > #rolesdrops > span {
  transform: translateX(calc(-100% - 10px))
}
.modal-role-select span {
  font-size: 1.3em;
  align-self: center;
  margin-right: 10px;
}
.modal-role-select > form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal-role-header {
  font-size: 1.6rem;
}

.emailmodal-table {
  flex: 1;
  margin-top: 10px;
}

@media screen and (orientation: portrait) {
  .modal-role-header {
    font-size: 1.4rem;
  }

  .areacsv-filename {
    flex-direction: column;
  }
  .areacsv-filename > p {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .areacsv-links {
    flex-direction: column;
    margin: 20px 10px;
    align-items: center;
  }
  .areacsv-links > label {
    margin: 10px 0;
  }
  .modal-title {
    text-align: center;
  }

  .areainvitecollabs > p {
    text-align: center;
    font-size: 1em;
    padding: 0;
    font-weight: unset;
  }

  #addj {
    left: 362px;
  }
  #boxtabs {
    position: absolute;
    left: 0px;
    top: 230px;
    z-index: 200;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100px;
    color: black;
    font-family: 'Raleway';
    font-size: 1.3rem;
  }
  #boxtabs input, #boxtabs textarea {
    position: relative;
    left: 40px;
    top: 0px;
    color: grey;
    font-weight: 700;
    text-align: left;
    width: 250px;
    border: none;
    padding: 4px;
    outline: none;
    font-family: 'Raleway';
    font-size: 1.3rem;
    border: solid 2px black;
  }
}