.drawModalContainer {
  border: 2px solid rgb(59, 59, 59);
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
  top: 50px;
  left: 70px;
  box-shadow: var(--box-shadow);
  border-top: none;
  background-color: white;
}

.drawModalContainer:hover {
  cursor: default;
}

@media screen and (orientation: portrait) {
  .drawModalContainer {
    left: 0px;
    top: 120px;
  }
}

.drawModalExitButton {
  border: none;
  background-color: transparent;
  float: right;
  padding-right: 5px;
}

.drawModalExitButton>i {
  color: #ff0000;
  font-size: 26px;
}

.drawModalExitButton:hover {
  cursor: pointer;
}

.drawModalExitButton:hover>i {
  color: #e60d0d;
}

.drawModalDragBar {
  width: 100%;
  height: 28px;
  background-image: linear-gradient(rgb(59, 59, 59), rgb(0, 0, 0));
}

.drawModalBottomControls {
  padding: 10px;
  padding-top: 0px;
}

.drawModalBottomControls>h4 {
  padding: 5px 0px;
}

.drawModalBottomControls>label {
  padding-right: 5px;
}

.drawModalBottomControls>label:hover {
  cursor: pointer;
}

.drawModalBottomControls>input[type=radio]:hover {
  cursor: pointer;
}

.drawModalStrokeSlider {
  width: 100%;
}