@import url('https://fonts.googleapis.com/css?family=Lobster');

.selected-tab {
  text-align: center;
  list-style: none;
  font-size: 24px;
  padding: 0;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.selected-tab li {
  border: 2px solid #636363;
  padding: 6px;
  background-color: #FFF;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  z-index: 0;
  color: #636363;
  max-width: 20%;
  min-width: 0;
  flex: 1;
  font-size: .6em;
}

.selected-tab li.selected {
  background: #FFF;
  z-index: 2;
  border-bottom-color: #FFF;
}

.selected-tab li:before, .selected-tab li:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 32px;
  background-color: #FFF;
}

.selected-tab li:before {
  left: -24px;
  transform: skew(-25deg, 0deg);
  border-left: 3px solid #636363;
}

.selected-tab li:after {
  right: -24px;
  transform: skew(25deg, 0deg);
  border-right: 3px solid #636363;
}

.selected-tab li:before {
  border-radius: 8px 0 0 0;
}

.selected-tab li:after {
  border-radius: 0 8px 0 0;
}

.selected-tab li.selected:before, .selected-tab li.selected:after {
  background: #FFF;
  border-bottom: 3px solid #ffffff;
}

.selected-tab li:hover,
.selected-tab li:hover:before,
.selected-tab li:hover:after {
  background-color: #636363 !important;
  color: white;
  cursor: pointer;
  border-bottom-color: #636363 !important;
}
.tabs{
  margin: 0 auto;
  text-align: center;
  display: block;
}

.tabs:after {
  clear: both;
  content: '';
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab-label {
  font-size: 18px;
  vertical-align: bottom;
  font-family: 'Lobster', cursive;
  border: 3px solid #636363;
  padding: 15px 22px 8px;
  background-color: #FFF;
  margin-right: -9px;
  display: inline-block;
  position: relative;
  z-index: 0;
  color: #636363;
}

.tabs .tab-label:before, .tabs .tab-label:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 33px;
  background-color: #FFF;
}

.tabs .tab-label:before {
  left: -17px;
  transform: skew(-25deg, 0deg);
  border-left: 3px solid #636363;
}

.tabs .tab-label:after {
  right: -17px;
  transform: skew(25deg, 0deg);
  border-right: 3px solid #636363;
}

.tabs .tab-label:before {
  border-radius: 8px 0 0 0;
}

.tabs .tab-label:after {
  border-radius: 0 8px 0 0;
}

.selected-tab li.selected:before, .selected-tab li.selected:after {
  background: #FFF;
  border-bottom: 3px solid #ffffff;
}

.tabs .tab [type="radio"]:hover:checked+.tab-label, .tabs .tab-label:hover, .tabs .tab-label:hover:before, .tabs .tab-label:hover:after {
  background-color: #636363;
  color: black;
  cursor: pointer;
  border-bottom-color: #636363;
}

.tabs .tab>[type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: black;
  border-radius: 15px;
  padding: 50px;
  float: left;
  width: 100%;
  text-align: left;
}

.tabs .tab-content h2 {
  text-align: center;
  margin-bottom: 45px;
}

.tabs .tab [type="radio"]:checked+.tab-label {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tabs .tab .tab-label .word-selected {
  display: none;
}

.tabs .tab [type="radio"]:checked+.tab-label .word-selected {
  display: inline;
}

.tabs .tab [type="radio"]:checked~.tab-panel {
  display: inline;
}

.content-tabs {
  flex-grow: 1;
  font-size: 1.3rem;
  height: calc(100vh - 350px);
}

.content {
  background: white;
  color: black;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: auto;
  display: none;
  border-radius: 10px;
  text-align: left;
}

.content h3 {
  position: relative;
  color: black;
  font-size: 1em;
}
.content > h3 {
  margin-top: 10px;
}

.content p {
  width: 100%;
  height: 100%;
  padding: 0px 0 5px 0px;
}
.content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content-settings {
  display: flex;
  flex-direction: column;
}
.content-timeinput {
  margin: 0 5px;
}
.content-radiobuttons {
  margin: 2px 20px;
  flex: 1;
}
.content-roomlink {
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  font-family:  "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.active-content {
  display: flex;
  flex-direction: column;
}

.active-content input::placeholder {
  color: grey;
  opacity: 0.8;
}

.h3 button {
  display: inline-block;
}

.simadv {
  display: flex;
  font-size: .7em;
  margin: 10px 20px;
}

.tab-text {
  width: calc(100% - 16px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.studentbuttonemail {
  z-index: 1000;
  left: 100px;
  padding: 10px 20px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1em;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.studentbuttonemail:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

hr {
  margin: 10px 0;
}

.deletegroup {
  font-family:  "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.deletegroup:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

.addgroup {
  font-family:  "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  align-self: flex-end;
}

.addgroup:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

.groupcontainer {
  display: flex;
  border-bottom: 1px dotted black;
}
.group-column {
  flex: 1;
  min-width: 0;
}
.group-table {
  padding-bottom: 20px;
}
.group-chatlog {
  font-size: .7em;
  height: 300px;
}
.group-chatlog > div {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}
.group-chatlog p {
  height: unset;
}

.createmodaltab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: none;
}

.myoverlaytab {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.chart {
  margin-top: 10px;
  font-size: 1rem;
  position: relative;
}
.chart[disabled] > div {
  opacity: 0.5;
}
.chart > p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  opacity: 0.7;
  font-size: 1.3em;
}

.logs-margin {
  height: 40px;
}

.logs {
  display: flex;
  height: auto;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}
.logs[hidden] {
  height: 30px;
  margin-bottom: 10px;
}
.logs-show {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}
.logrow {
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: opacity .3s;
}
.logrow[hidden] {
  opacity: 0;
}
.logrow-info {
  background-color: rgba(0,0,0,0.1);
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  opacity: 0.9;
}
.logrow-info > i {
  padding-right: 10px;
}
.logrow-info > p {
  font-size: .9em;
  padding: 0;
}
.logrow-buttons {
  display: flex;
  margin-left: 5px;
}
.logrow-buttons > button {
  color: white;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 999px;
  margin-left: 5px;
  border: none;
  height: 36px;
  width: 36px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#roomh3 {
  position: relative;
  top: 250px;
  left: -500px;
}

@media screen and (orientation: portrait) {
  .content-row {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .content-settings {
    margin-top: 20px;
  }
  .simadv {
    margin: 10px 0;
  }
  .content-radiobuttons {
    margin: 0 0 0 20px;
  }
  .groupcontainer {
    flex-direction: column;
  }
  .content-header {
    flex-direction: column;
    align-items: center;
  }
  .content-roomlink {
    align-self: center;
    margin: 10px 0;
  }
}