.performanceTable {
  width: 100%;
  border-collapse: collapse;
}

.performanceTableContainer {
  min-height: 400px;
  max-height: 500px;
  overflow: auto;
}

.performanceTable>tbody>tr>td {
  display: table-cell;
  padding: 5px 0;
  border-top: 1px solid rgb(160, 160, 160);
}

.performanceContainer {
  display: block !important;
}

.performanceTitle {
  font-size: 1.2em;
  padding-bottom: 0.5em;
}

.performanceForm {
  padding: 5px 10px;
}

.performanceTable>tbody>tr>td>span {
  font-size: 1.1em;
  font-weight: 800;
}

.performanceTable>tbody>tr>td>.react-switch {
  transform: translateY(5px);
}

.performancePollRow>td>h3 {
  font-family: "Montserrat", sans-serif;
  padding-top: 0.5em;
  font-size: 0.9em;
}

.performanceQNames {
  font-weight: 800;
  font-size: 0.9em;
  width: 50%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: linear-gradient(90deg, #ffe9ed, 90%, white);
  padding: 0em 0.25em;
  border-left: 5px solid var(--primary);
}

.performanceQOptions {
  font-size: 0.9em;
  background: linear-gradient(90deg, #ffe9ed, 90%, white);
  padding-left: 0.25em;
  border-left: 5px solid  var(--primary);
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}

.performanceQOptions>div>label {
  display: inline-block;
  padding-left: 0.25em;
}

.performanceNoObjects>div {
  font-weight: 800;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.performanceNoObjects>p {
  font-size: 1em;
  padding-bottom: 10px;
}