.variable-container {
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: 20px;
  scrollbar-color: var(--primary) var(--white) !important;
  scrollbar-width: thin !important;
  justify-content: space-between !important;
}
.variable-containers{
  position: absolute;
  left: -200px;
}

.variable-box{
  padding: 2px;
  margin-bottom: 20px;
  color: var(--white);
  overflow-y: scroll;
  scrollbar-color: var(--primary) var(--white) !important;
  scrollbar-width: thin !important;
  min-height: 60px;
  max-height: 500px;
}

.variable-box::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.variable-box::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.variable-inputs{
  padding: 2px;
  margin-left: 0px;
  font-size: 0.6em;
  text-align: left;
  background-color: var(--red);
  margin-top: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.gameVar h1 {
  max-width: 500px !important;
  padding: 3px 10px;;

}

.variable-inputs i{
  float: left;
  font-size: 1.7em;
  margin-top: 8px;
  margin-left: 3px;
  margin-right: 0px;
}
.variable-inputs i:hover{
  cursor: pointer;
}
.variable-inputs h1{
  font-weight: 200 !important;
  font-size: 2.0em;
  position: relative;
  top: 3px;
  width: 100px;
  color: white;
}
.variable-inputs h2{
  position: relative;
  top: 3px;
  font-size: 2.0em;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.variable-inputs h3{
  font-weight: 200 !important;
  float: left;
  text-align: right;
  margin-left:5px;
  margin-top: 0px;
  font-size: 2.0em;
  color: white;
}

.variable-inputs h3:first-child {
  margin-right: 30px;
}
.variable-inputs h3:nth-child(2)  {
  margin-right: 10px;
}
.variable-inputs h1:hover{
  cursor: pointer;
}
.variable-inputs hr{
  margin-top: 3px;
  margin-left: 3px;
  width: 98%;
}
.variable-inputs input{
  display: flex;
  border-radius: 5px;
  border: none;
  padding: 5px 3px;
  margin-right: 2px;
  margin-top: 1px;
  opacity: 100%;
  width: 30% !important;
  background-color: white !important;
}

.variable-add{
  font-size: 0.9em;
  background-color: var(--almostwhite);
  padding: 7px;
  border: 2px dashed var(--primary);
  border-radius: 8px;
  text-align: center;
  opacity: 1;
  width: 99%;
  transition: 0.2s opacity;
}
.variable-add svg{
  margin-right: 10px;
  vertical-align: middle;
}
.variable-add:hover{
  cursor: pointer;
}
.variable-hover {
  position: absolute;
  margin-left: 10px;
  margin-top: 25px;
  width: auto;
  text-align: left;
  padding: 0px 5px;
  background-color: white;
  color: var(--primary);
  font-size: 2.0em;
  z-index: 10000;
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.variable-adding{
  display: grid;
  background-color: var(--almostwhite);
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 8px;
  width: 80%;
  margin-bottom: 0px;
  margin-left: 10%;
}
.variable-adding h1{
  font-size: 1.05em;
  font-weight: lighter;
  margin-bottom: 2px;
  margin-right: 7px;
}
.variable-adding input{
  width: 130px;
  border-radius: 6px;
  border: 1px solid var(--primary);
  opacity: 0.8;
}
.variable-hold {
  display: flex;
  justify-content: space-between !important;
}
.variable-hold input{
  font-size: 1.0em !important;
  opacity: 0.7 !important;
  padding: 3px !important;
  width: 50% !important;
  margin-bottom: 3px !important;
  border: 1px solid var(--primary) !important;
  background-color: white !important;
}
.variable-adding button{

}
.variable-hold button:nth-child(1){
  margin-top: 10px;
  width: 138px;
  border: none;
  color: white;
  background-color: var(--green) !important;
  border: 1px solid var(--success);
  padding: 6px 0px;
  font-size: 1.0em !important;
  font-weight:1 !important;
  border-radius: 6px;
}
.variable-hold button:nth-child(2){
  padding: 6px 0px;
  font-size: 1.0em !important;
  font-weight:1 !important;
  border-radius: 6px;
  background-color: var(--red) !important;
  border: 1px solid var(--primary);
  margin-top: 10px;
  width: 138px;
  border: none;
  color: white;
}


.variable-choose{
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}
.variable-choose select{
  height: auto;
  width: 50%;
  padding: 1px;
  font-size: 0.95em;
  border: 1px solid var(--primary);
  opacity: 9;
  margin-bottom: 3px;
}





.green h3 {
  margin-top: 4px;
  border: none;
}
.sidebar-icons {
  fill: var(--primary);
}

.sidebar-icons span {
  float: right;
  white-space: nowrap;
  font-size: 0.8em;
}


/* NOTES */

.sidebar-notes{
  margin-left: 10px;
  margin-top: 30px;
  font-size: 1.3em;
  width: 94%;
  overflow-y: scroll;
  height: 95%;
  scrollbar-width: thin;
}
.notes-main{
  margin-right: 10px;
}

.sidebar-notes::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sidebar-notes::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}

.sidebar-notes::-webkit-scrollbar-thumb
{
	background-color: var(--text-color);
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}


.notes-header  {
  display: flex;

}
.notes-header h2{
  float: left;
  margin-right: 30px;
  position: relative;
  bottom: 5px;
}
.notes-title {
  display: flex;
  font-size: 0.7em;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.notes-title button {
  width: 45%;
  font-size: 1.2em;
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 5px;
  border-radius: 8px;
  border: 2px outset rgb(136, 136, 136);
  border: 2px outset rgb(136, 136, 136);
  border-color: var(--primary);
  margin-bottom: 20px;
  opacity: 0.5;
}
.notes-title button:focus{
  opacity: 0.4;

}
.notes-title button:disabled{
  opacity: 1;
}
.top-note {
  border: 1px solid var(--primary);
  background-color: var(--almostwhite);
  padding: 10px;
  border-radius: 9px;
}
.top-note-add {
  font-size: 0.9em;
  background-color: lightgray;
  padding: 10px;
  border: 2px dashed var(--dark);
  border-radius: 8px;
  text-align: center;
  opacity: 0.4;
  width: 99%;
  transition: 0.2s opacity;
  margin-top: 10px;
}
.notes-text{
  width: 50% !important;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 30px;
}
.notes-textarea{
  resize: none;
  width: 100%;
  min-height: 60px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 3px;
  opacity: 0.8;
  margin-bottom: 15px !important;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--white);
}
.notes-title-card {
  border-radius: 8px;
  opacity: 0.8;
  width: 70%;
}

.notes-card{
  margin-top: 20px;
  background-color: var(--red);
  border-radius: 8px;
  padding: 10px;
  min-height: 130px;
  margin-right: 2px !important;
}
.notes-card h1 {
  color: white;
  font-size: 0.7em;
  margin-bottom: 3px;
}
.read{
  background-color: var(--almostwhite);
  padding: 4px;
  border: none;
  margin-bottom: 10px;
}
.notes-buttons {
  text-align: right;
  position: relative;
  margin-right: 10px;
  top: -17px;
  right: 0px;
}
.notes-buttons button{
  background-color: var(--primary);
  padding: 4px;
  border: 3px solid var(--white);
  border-radius: 8px;
  margin-left: 10px;
}

.notes-buttons svg{
  position: relative;
  bottom: 5px;
  fill: var(--red) !important;
  background-color: var(--almostwhite);
  border: 1px solid var(--red) !important;
  border-radius: 8px;
  margin: 3px;
  padding: 2px;
  width: 40px;
  height: 40px;
}

.greenMain svg{
  fill: var(--green) !important;
  font-weight: bold;
}

.notes-buttons:hover {
  cursor: pointer;
}

.notes-textarea::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.notes-textarea::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.variable-dis{
  position: absolute;
  left: 500px;
  top: 300px;
  width: 700px;
  height: 500px;
  min-width: 700px;
  min-height: 400px;
  background-color: white;
  border: 2px solid var(--primary);
  resize:both;
  border-radius: 20px 20px 0px 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.variable-dis-buttons button{
  padding: 10px 100px;
  width: 50%;
  border-bottom: 2px solid var(--primary);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 9px 0px 0px 0px;
}
.variable-dis-buttons button:nth-child(2){
  padding: 10px 100px;
  width: 50%;
  border-radius: 0px 9px 0px 0px;
}
.variable-dis-buttons button:hover{
  background-color: var(--primary);
  color: white;
}

.variable-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  left: 70px;
}
.variable-title:hover {
  cursor: grab;
}
.variable-title:active {
  cursor: grabbing;
}

.variable-wiz table {
  border-collapse: collapse;
  width: 100%;
}

.variable-wiz tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

.variable-wiz tr td {
  border: 1px solid #eeeeee;
  text-align: left;
  width: 33.33%;
}

.variable-wiz td:nth-child(3)  {
  width: 100%;
  display: flex;
}

.variable-wiz td:nth-child(3) button {
  float: right;
  height: auto;
  width: 50%;
  top: 10px;
  font-size: 2em;
  border: none;
  background-color: white;
}

.variable-wiz td:nth-child(3) input {
  float: left;
}

.variable-wiz input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 12px 12px;
}

.variable-wiz input:hover {
  background-color: #fffaf3;
}

.variable-wiz input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}

.variable-cons table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed
}

.variable-cons tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
  width: 13px !important;
}

.variable-cons tr td {
  border: 1px solid #eeeeee;
  text-align: left;
  width: 13px !important;
}

.variable-cons input {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  font-weight: lighter;
}

.variable-cons select {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: lighter;
}

.con-back {
  border: none;
  background-color: white;
  position: absolute;
  top: 10px;
  font-size: 2em;
  left: 10px;
}

.con {
  border: none;
  background-color: white;
  position: absolute;
  top: 10px;
  font-size: 0.3em;
  right: 5px;
  z-index: 1000;
}
.con-button {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
}

.var-trash:hover{
  cursor: pointer;
}
.close-var {
  fill: black;
  font-size: 3.0em;
}
.con-container{
  display: flex;
  flex-direction: row;
}
.con-tabs{
  width: 100%;
  border-radius: 0px;
  border: none;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
}
.con-tabs:hover{
  background-color: var(--red);
  color: white;
}
.con-tabs:focus{
  background-color: var(--red);
  color: white;
}

.con-tabs-session{
  width: 33.33%;
  border-radius: 0px;
  border: none;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;

}
.con-tabs-session:hover{
  background-color: var(--green);
  color: white;
}
.con-tabs-session:focus{
  background-color: var(--green);
  color: white;
}




.drag-here{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  background-color: red;
  z-index: 100px;
}
.tester {
  width: 90% !important;
  margin-left: 5%;
  position: absolute !important;
  bottom: 10px;
}

.e {
  position: absolute;
  top: 350px;
  left: 10%;
  width: 100px;
  height: 70px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: rgb(185, 53, 53);
  color: var(--white);
  padding: 10px;

}
.i {
  position: absolute;
  top: 350px;
  left: 40%;
  width: 100px;
  height: 70px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: rgb(185, 53, 53);
  color: var(--white);
  padding: 10px;

}
.v {
  position: absolute;
  top: 350px;
  left: 70%;
  width: 100px;
  height: 70px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: rgb(185, 53, 53);
  color: var(--white);
}
.con-ifs{
  display: flex !important;
  width: 100% !important;
  height: 30px !important;
  position: relative;
  left: -25px;
  justify-content: center !important;
}
.con-ifs h1{
  font-size: 1.2em;
  float: left;
 
}
.con-ifs input{
  position: relative !important;
  top: -3px !important;
  font-size: 1.2em !important;
  width: 20% !important;
  border: 1px solid var(--primary);
  border-radius: 9px;
  padding: 5px;
}

.con-hold{
  display: flex;
  justify-content: space-between !important;
}
.con-add-b {
  position: relative;
  bottom: 0px;
  left: 0px;
  justify-content: space-between;
  padding: 8px 50px;
  background-color: var(--green);
  border: 1px solid var(--success);
  border-radius: 9px;
  color: white;
}

.con-can-b {
  position: relative;
  bottom: 0px;
  right: 10px;
  padding: 8px 50px;
  background-color: var(--red);
  border: 1px solid var(--primary);
  border-radius: 9px;
  color: white;
}

.variable-con-adding{
  position: relative;
  margin-left: 15px;
  background-color: var(--almostwhite);
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 8px;
  width: 95%;
  z-index: 10000 ;
}
.variable-con-adding select{
  font-size: 1.0em;
}
.variable-con-adding input{
  font-size: 1.0em;
  width: 80px;
  margin-left: 10px;
}

.nob{
  width: auto;
  height: auto;
  background: none;
  border: none;
  position: relative;
}
.specialt {
  position: relative;
  width: 40px !important;
  height: 40px !important;
  fill: var(--success) !important;
}
.specialer {
  width: 35px !important;
  height: 35px !important;
  fill: var(--red) !important;
  border-radius: 9px;
  padding: 0px 5px 0px 5px;
  border: 1px solid var(--red);
}
.box{
  width: 100px;
  height: auto;
  border: 1px dashed var(--text-color);
  border-radius: 9px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}



.select{
  width: 60px;
  
}
.select select{
  position: relative;
  font-size: 1.0em !important;
  font-weight: lighter;
  border: 1px solid var(--dark);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: left;
  padding: 10px 5px;
}

.var-box {
  position: relative;
 bottom: 10px;
}
.var-box button{
  position: relative;
  width: 50px;
  top: 17px;
  border-radius: 9px 0px 0px 0px;
  border: 1px solid black;
  z-index: 9999999 !important;
}
.int-box{
  width: 100% !important;
  height: 50px !important;
  border: 1px solid lightgrey !important;
  color: black !important;
  background-color: white !important;
  border-radius: 5px !important;
  padding: 10px 10px !important;
  min-height: 40px !important;
  margin-left: 0px !important;
  background-color: white;
}
.alert-green {
  fill: var(--success) !important;
}
.incr {

}
.int-special {
  padding: auto;
}
.int-special select{
  font-size: 1em !important;
}
.int-special input{
  font-size: 1em !important;
  padding-left: 10px !important;
}
.var-box button:nth-child(2){
  border-radius: 0px 9px 0px 0px;
  border-left: none;
}

.input-area{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}

.fixer{
  display: flex;
  flex-direction: row;
}

.condition-input-container{
  overflow-y: scroll;
  display: flex !important;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-basis:auto!important;

}

.condition-inputs{
  background-color: var(--almostwhite);
  height: auto;
  width: auto;
  min-width: 49%;
  transition:all .5s;
  vertical-align: middle;
  margin-top: 10px;
  border-radius: 9px;
  border: 1px solid gray;
  margin: 3px;
  padding: 5px;
  font-size: 0.8em !important;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.trigger-inputs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.trigger-inputs div{
  display: flex;
}
.condition-inputs i{
  font-size: 1.4em !important;
}

.cons-condition{
  display: flex;
  overflow-wrap: break-word;
}


.if{
  display: flex;
  overflow-wrap: break-word;
}
.then{
  display: flex;
  overflow-wrap: break-word;
}

.condition-inputs h1{
  color: var(--red);
  font-size: 1.3em;
  margin-right: 10px;
  margin-left: 10px;
  font-style:oblique;
}
.andfix{
  margin-right: 0px!important;
}
.condition-inputs h2{
  color: var(--warning);
  font-size: 1.3em;
  position: relative;
}
.condition-inputs h3{
  font-size: 1.3em;
  color: var(--success);
  margin-left: 5px;
  margin-right: 5px;
}

.vars{
  width: 49% !important;
  display: flex;
  flex-wrap: nowrap;
  padding: 0%;
  height: 40px;
}
.vars h1{
  width: 40%;
  text-align: right;
  font-style: normal;
  align-self: center;
  
}
.vars h2{
  margin-right: 5px;
  align-self: center;
  
}
.vars i{
  margin-right: 10px;
  position: relative;
  transform: translate(0px, 5px);
  width: 50px !important;
}
.vars input{
  background-color: var(--green);
  border-radius: 0px 9px 9px 0px;
  border-left: 1px solid var(--dark);
  font-size: 1.3em;
  width: 60%;
}
.tooltips{
  border: none;
  background: none;
  position: absolute;
  left: 10px;
  top: 10px;
}

.info-var{
  height: 30px;
  width: 30px;
}
.jequal h1{
  position: relative;
  font-size: 1.0em !important;
  font-weight: lighter;
  border: 1px solid var(--dark);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  padding: 27% 3px;
}

.variable-header{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center !important;
}
.level-dropdown {
  position: relative;
  top: 13px;
  display: flex;
  border-radius: 9px;
  padding: 5px;
  height: 0%;
  overflow: hidden;

}
.switch-container{
  position: relative;
  top: 5px;
  left: 15%;
  display: flex;
  border-radius: 9px;
  padding: 5px;
  height: 0%;
  overflow: hidden;
}
.switch-container h1{
  font-size: 1.3em;
  margin-left: 5px;
  text-transform: capitalize;
}

.ints-checks{
  display: flex;
  justify-content: space-around;
  padding: 30px 30px;
  font-size: 1.0em !important;
}
.ints-checks input{
  width: 30px;
  margin-right: -60px;
  padding-right: 0px;
}
.int-page-box{
  width: 26%!important;
  height: 90% !important;
  background-color: white !important;
  border: 1px solid grey !important;
  padding: 15px 10px !important;

}
.int-page-con {
  display: flex;
  justify-content: space-around;
  padding: 0px 25%;
  align-items: center;
}
.int-page-con h2{
  vertical-align: middle !important;
}
.ints-con{
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
  align-items: center;
  height: auto;
}
.ints-con h2{
  padding: 0px 10px;
}
.ints-name{
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.1em;
  margin-bottom: 20px;
  align-items: center;
  height: auto;
  margin: 0px auto;
}
.ints-name select {
  height: 50px;
  width: 50%;
  padding: 1px;
  font-size: 0.95em;
  border: 1px solid var(--primary);
  opacity: 9;
  margin-bottom: 3px;
  border-radius: 5px;
}
.ints-area{
  font-size: 1.0em !important;
}
.ints-fix{
  width: 100% !important;
  margin: 20px !important;
  margin-top: 10px !important;
}
.array-index {
  width: 30px;
  height: 70px;
  margin-left: 0px;
  border: 1px dashed var(--text-color);
  border-left: None;
  border-radius: 9px;
  padding: 5px;
}
.array-index input{
  position: relative;
  top: 0px;
  width: 20px;
  height: 60px;
  margin-left: -3px;
  padding: 0px 5px;
  border: 1px solid gray;
  border-radius: 9px;
  background-color: white;
}
.multi-container {
  vertical-align: middle;
  
}

.multi-container div {
  height: 50px;
  align-items: center;
  text-align: center;
  vertical-align: middle !important;
  line-height: 40px;
} 


.alert-multi{
  height: auto;
  width: 98%;
  margin-left: 3px;
  margin-bottom: 7px;
  font-size: 0.95em;
  border: 1px solid var(--dark);
  opacity: 9;
  border-radius: 5px;
}

.multi-container input {
  background-color: red;
}

.trigger-container{
  display: flex;
  justify-content: space-between;
  margin: 30px 10px;
  align-items: center;
  padding: auto;
}
.trigger-container > * {
  margin-right: 5px;
}

.trigger-container > *:last-child {
  margin-right: 0;
}
.trigger-container h2{
  font-size: 1.3em;
  width: max-content;
  align-items: center;


}


.trigger-box select{
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 15px;
  width: max-content;
  height:100%;
  top: 0 !important;
  left: 0 !important;
  padding: 20px 0px;
  margin: 5px;
}

.trigger-name{
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.trigger-name h1{
  margin-right: 10px !important;
  margin-left: 0px;
  padding: 20px 0px;
}
.trigger-shapes {
  width: 100% !important;
}

.trigger-multi {
  height: max-content;
  width: 40%;
  padding: 0px;
  font-size: 0.95em;
  opacity: 9;
  margin-bottom: 0px;
  border-radius: 5px;
  margin-top: 5px;
}

.trigger-touch {
  
  
}

.variable-buttons {
  display: flex;
  flex-direction: column;
}
.variable-buttons i, .variable-buttons svg {
  fill: var(--primary);
  color: var(--primary);
  font-size: 1.6em !important;
  margin: 1px 0px;
  width: 23px;
  height: 23px;
}
.variable-buttons:hover{
  cursor: pointer;
}
.draggable-trigger-container {
  /* overflow-y: scroll; */
  display: flex !important;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-basis: auto!important;
  padding: 5px;
}
.draggable-trigger-inputs-container {
  display: flex;
}
.draggable-trigger-inputs {
  position: relative;
   background-color: var(--almostwhite);
  height: auto;
  width: auto;
  min-width: 49%;
  transition:all .5s;
  vertical-align: middle;
  border-radius: 9px;
  border: 1px solid gray;
  margin: 3px;
  padding: 5px;
  font-size: 0.8em !important;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.draggable-trigger-inputs h1{
  color: var(--red);
  font-size: 1.3em;
  margin-right: 10px;
  margin-left: 10px;
  font-style:oblique;
}

.draggable-trigger-inputs h2{
  color: var(--warning);
  font-size: 1.3em;
  position: relative;
}
.draggable-trigger-inputs h3{
  font-size: 1.3em;
  color: var(--success);
  margin-left: 5px;
  margin-right: 5px;
}




.condition-input-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 12px;
}

.condition-input-container::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  border-radius: 12px;
}

.condition-input-container::-webkit-scrollbar-thumb
{
	background-color: var(--red);
	background-image: -webkit-linear-gradient(45deg,
	                                         var(--success) 25%,
											  transparent 25%,
											  transparent 50%,
											 var(--success) 50%,
											 var(--success) 75%,
											  transparent 75%,
											  transparent)
}
.condition-input-container-con::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 12px;
}

.condition-input-container-con::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
  border-radius: 12px;
}

.condition-input-container-con::-webkit-scrollbar-thumb
{
	background-color: var(--red);
	background-image: -webkit-linear-gradient(45deg,
	                                         var(--success) 25%,
											  transparent 25%,
											  transparent 50%,
											 var(--success) 50%,
											 var(--success) 75%,
											  transparent 75%,
											  transparent)
}
.variable-dis::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 12px;
}

.variable-dis::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  border-radius: 12px;
}

.variable-dis::-webkit-scrollbar-thumb
{
	background-color: var(--text-color);
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
