.dashboard-wrapper {
    font-size: 1.5em;
    min-height: 100vh;
    color: var(--primary);
    background-color: var(--almostwhite);
}

.dashboard {
    color: var(--almostwhite);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin-bottom: 100px;
    /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}

.dashsim {
    display: flex;
    flex-wrap: wrap;

    margin-top: 20px;

  }

.dashboard-buttons {
    display: flex;
    justify-content: space-between !important;
}

hr {
    margin: 10px 0;
    border-width: 1px;
}

.dashboard>hr {
    align-self: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px;
}

.dashboard-home {
    align-self: flex-start;
    margin-bottom: 10px;
}

.d-button {
    position: relative;
    left: 40px;
    background: var(--primary);
    color: #fff;
    font-family: inherit;
    font-size: 1.0vw;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s;
    border: none;
    cursor: pointer;
    padding: 18px 40px;
    border: 1px solid transparent;
    box-shadow: var(--box-shadow);
    border-radius: 3px 10px 10px 10px;
}


.d-button:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #fff;
    left: -70px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .6s;
    opacity: 0.3;
}

.d-button:hover:before {
    left: 102%;
}

.d-button:hover {
    background-color: white;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px 10px 3px 10px;
}