.profile-container {
  min-height: 100vh;
  width: auto;
  margin: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row: 2;
  grid-column: 2;
}

.card {
  width: 100% !important;
  height: auto !important;
}

.card:before {
  content: '';
  display: block;
  width: 100%;
  height: 60vh;
  filter: saturate(35%);
  background-size: cover;
}

.card-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -75px;
  flex-direction: column;
}

@media (min-width: 601px) {
  .card-header {
    max-width: 960px;
    flex-direction: row;
  }
}

.card-main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px 10px;
  flex-direction: column;
}

@media (min-width: 601px) {
  .card-main {
    width: 100%;
    max-width: 960px;
    flex-direction: row;
    position: relative;
    top: -50px;
    padding: 10px 30px;
  }
}

.hello {
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .hello {
    margin-left: 5%;
  }
}

.hello img {
  border-radius: 50%;
  width: 150px;
  height: auto;
}

.heading-box {
  width: 100%;
  min-width: 270px;
  padding-left: 2%;
}

@media (min-width: 601px) {
  .heading-box {
    padding-left: 10%;
  }
}

.heading-box h1 {
  font-size: 3em;
  width: max-content;
  border-radius: 10px;
  top: -50px;
  margin: 0;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255);
  border: 2px solid black;
  padding: 0px 10px 0px 10px;
}

.heading-box h3 {
  font-weight: 2em;
  color: #666666;
  top: -30px;
  font-weight: normal;
  margin: 0;
  margin-top: 5%;
}

.heading-box h3 span {
  color: #999999;
  margin-left: 2%;
}

.button-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  flex-direction: row;
}

@media (min-width: 601px) {
  .button-box {
    width: 30%;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 0;
  }
}

.card-background  {
  width: 100% !important;
  height: 60% !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  position: absolute;
  top: 0px;
  object-fit:scale-down;
  background-color: lightgrey;
}

.card-banner{
  position: absolute;
  right: 400px !important;
  background-color: #999999;
}


.card button {
  position: absolute;
  transform: translateX(350px);
  color: #fff;
  font-family: inherit;
  font-size: 1.5em;
  text-transform: uppercase;
  overflow: hidden;
  transition: all .3s;
  border: none !important;
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 3px 10px 10px 10px;
}


.card button:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  left: -70px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .6s;
  opacity: 0.3;
}

.card button:hover:before {
  left: 102%;
}

.card button:hover {
  border: 1px solid var(--primary);
  border-radius: 10px 10px 3px 10px;
}

.button-box a {
  display: block;
  border-radius: 50%;
}

.button-box i {
  border-radius: 50%;
  font-size: 70px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.activity {
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  width: 400px;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.activity * {
  display: block;
}

@media (min-width: 601px) {
  .activity {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .activity * {
    display: inline;
    margin: 0 auto;
  }
}

.activity:hover {
  color: white;
  cursor: pointer;
}

.activity .activity-name {
  text-transform: uppercase;
}

@media (min-width: 601px) {
  .activity .activity-name {
    margin: 0;
  }
}

.activity .index {
  width: 30px;
}

.activity i,
.activity span {
  font-size: 24px;
  margin: 10px 0;
}

@media (min-width: 601px) {

  .activity i,
  .activity span {
    font-size: 18px;
    margin: 0;
  }
}

.sepcial {
  min-width: 120px !important;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes spinBack {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.fa-bars {
  color: white;
}