.notesim {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 200px;
  height: 200px;
  float: left;
  position: relative;
  left: 100px;
  top: -0px;
  margin-right: 145px;
  margin-top: 50px;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}
.notesim h1 {
  z-index: 1;
  text-align: center;
  position: relative;
  top: -40px;
  left: -12px;
  color: #181818;
  font-size: 1.5rem;

}
.notesim p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.notesim button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 15px;
  top: 187px;
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  cursor: pointer;
  outline: none;
  background-color: #8f001a;
}

.notesim img {
  z-index: 0;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 80%;
}
