.info0 {
  width: calc(100% - 130px);
  height: calc(100% - 70px);
  text-align: center;
  position: fixed;
  left: 100px;
  bottom: 90px;
  transform: translate(0%, 100%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

.info1 {
  width: calc(100% - 130px);
  height: calc(100% - 70px);
  text-align: center;
  position: fixed;
  left: 100px;
  bottom: 0px;
  transform: translate(0%, 0%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

.info0 button {
  color: var(--primary);
  z-index: 1;
  position: relative;
  float: right;
  border: none;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.info0 button:hover {
  cursor: pointer;
}

.info1 button {
  color: var(--primary);
  z-index: 1;
  position: relative;
  float: right;
  border: none;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.info1 button:hover {
  cursor: pointer;
}

#pencili1 {
  position: fixed;
  bottom: calc(60% - 10px);
  width: 20px;
  left: 450px;
  color: var(--primary);
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

#pencili0 {
  position: fixed;
  bottom: 70px;
  width: 20px;
  left: 450px;
  color: var(--primary);
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  z-index: 2;
}

.personalAreaStageContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}

@media screen and (orientation: portrait) {
  .info0 {
    height: calc(100% - 110px);
    width: calc(100% - 60px);
    left: 30px;
  }
  .info1 {
    height: calc(100% - 110px);
    width: calc(100% - 60px);
    left: 30px;
  }
  #pencili1 {
    left: 380px;
  }
  #pencili0 {
    left: 380px;
  }
}