ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Icon Button */

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--primary);
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 200000;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0rem;
  overflow: hidden;
  transition: var(--speed) ease;
  box-shadow: var(--box-shadow);
  font-family: 'Montserrat', sans-serif;
}

.timelineDropdown {
  right: 2.5%;
  top: 60px;
}

.menu {
  width: 100%;
  font-size: 1.3rem;
}

.menu h1 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 100;
  color: #636363;
}

.menu-item {
  height: 55px;
  display: flex;
  color: #636363;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  margin-bottom: 0px;
  cursor: pointer;
}

.dropdown-add-disabled > .menu-item > .icon-button {
  background-color: #636363 !important;
}

.dropdown-add-disabled > .menu-item > .icon-button:hover {
  cursor: not-allowed !important;
}

.menu-item h2 {
  font-size: 1.5rem;
}

.menu-item[disabled] {
  pointer-events: none;
  cursor: unset;
  opacity: 0.5;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: lightgrey;
}

.icon-right {
  margin-left: auto;
}

.role-deselect-icon {
  margin-left: auto;
  border-radius: 0 !important;
}

/* CSSTransition classes  */

.menu-primary-enter {
  position: absolute;
  opacity: 0.5;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  opacity: 1;
  position: absolute;
}

.menu-primary-exit-active {
  opacity: 0.5;
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  opacity: 0.5;
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  opacity: 1;
  position: absolute;
}

.menu-secondary-exit-active {
  opacity: 0.5;
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.icons {
  color: white;
  font-size: 1.1rem;
}

#dswitch {
  position: absolute;
  left: -120px;
  bottom: 97px;
}

#eswitch {
  position: absolute;
  left: -120px;
  bottom: 45px;
}

.react-switch {
  margin-left: auto;
}

.dropdown button {
  position: relative;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--primary);
  background-color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

.dropdown button:hover {
  cursor: pointer;
  background-color: #f6f5f5;
}

.dropdown button::selection {
  background-color: var(--primary);
  color: white;
}

#pagetype input, #pagetype textarea {
  position: relative;
  left: 20px;
  top: 10px;
  color: grey;
  background-color: #f6f5f5;
  font-weight: 700;
  text-align: left;
  width: 250px;
  height: 50px;
  border: none;
  padding: 4px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 30px;
}

#numOfPagesLabel {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  color: #636363;
}

#numOfPagesInput {
  padding: 0;
  width: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  border: none;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

#numOfPagesInput::-webkit-inner-spin-button, #numOfPagesInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#numOfPagesInput:hover {
  cursor: default;
}

#numOfPagesInput:focus {
  border: none;
  outline: none;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.numOfPagesInputBtn {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  margin: 2px !important;
  font-size: 1em !important;
  transform: translateY(-3px);
}

.pageNameInput {
  border-radius: 0.3em;
  border: solid 2px grey;
  font-size: 0.9em;
  padding-left: 0.25em;
  height: 100%;
  margin: 3px 10px;
  font-family: "Montserrat", sans-serif;
}

.pageNameInput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#pagetype input::placeholder {
  opacity: 0.8;
  color: grey;
}

#colourp {
  position: relative;
  left: 35px;
}

#imgselect {
  position: relative;
  top: -35px;
  left: 60px;
  background-color: white;
  height: 20px;
}

#filePickerImageEdit {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

#fileI {
  position: absolute;
  top: 67px;
  left: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #636363;
}

#imginput {
  position: absolute;
  top: 118px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imginputname {
  position: absolute;
  top: 173px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputname::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#sizeinput {
  position: relative;
  width: 200px;
  left: 20px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.1em;
  font-size: 1.2em;
  padding-left: 3.0em;
}

#sizeinput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 2.0rem;
  color: #636363;
}

#sizeinput:target {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #636363;
}

#imginputv {
  position: absolute;
  top: 63px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputv::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#roleNameAdd {
  width: 60%;
}

#roleNumAdd {
  width: 15%;
  margin-left: 10px;
}

.add-dropdown-item-input {
  border-radius: 0.3em;
  border: solid 2px grey;
  font-size: 0.9em;
  padding-left: 0.25em;
  width: 80%;
  height: 70%;
}

.add-dropdown-item-input::placeholder {
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  color: #636363;
}

.role-name-input {
  position: absolute;
  top: 60px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

.role-name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imginputvname {
  position: absolute;
  top: 116px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputvname::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imgsource {
  position: relative;
  top: 0px;
  left: 0px;
}

#fontpick {
  position: relative;
  left: 20px;
  margin-bottom: -100px;
}