ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.inputButtonDefault {
  border-radius: 0.5em;
  padding: 0.2em;
  background-color: #e4e4e4;
  border: 1px solid rgb(44, 44, 44);
}

.false{
  display: none !important;
}

.inputButtonDefault:hover {
  filter: brightness(0.85) saturate(1.25) contrast(1.05);
  cursor: pointer !important;
}

.inputButtonDefault:active {
  filter: brightness(0.8);
  transform: scale(0.99);
}

.inputTextDefault {
  padding-left: 1px;
  padding-top: 1px;
  border-radius: 2px;
}

.inputTextDefault::placeholder {
  color: inherit;
  opacity: 0.7;
}

/* Icon Button */


.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  fill: var(--primary) !important;
  min-width: var(--button-size);
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center !important;
  vertical-align: middle !important;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  position: relative;
  fill: var(--primary);
  width: 25px;
  height: 25px;
}

.icons-right {
  display: flex;
  margin-left: auto;
}

.page-settings-css-anim-enter {
  position: absolute;
  opacity: 0.5;
  transform: translateX(-110%);
}

.page-settings-css-anim-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.page-settings-css-anim-exit {
  opacity: 1;
  position: absolute;
}

.page-settings-css-anim-exit-active {
  opacity: 0.5;
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

/**************************************************/

.pages-css-anim-enter {
  position: absolute;
  opacity: 0.5;
  transform: translateX(110%);
}

.pages-css-anim-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.pages-css-anim-exit {
  opacity: 1;
  transform: translateX(0%);
  position: absolute;
}

.pages-css-anim-exit-active {
  opacity: 0.5;
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.overlayDeleteRow, .overlayHideRow {
  height: 35px;
  display: flex;
}

.overlayDeleteRow>h2, .overlayHideRow>h2 {
  display: inline-block;
  vertical-align: text-top;
}

.overlayHideRow>h2 {
  transform: translateY(-5px);
}

.overlayDeleteRow>.icons:hover {
  cursor: pointer;
}

.overlayDeleteRow>.icons {
  font-size: 1.1em;
  color: var(--primary);
}

/**************************************************/

#pageSettingsDropdown {
  white-space: normal;
  padding: 10px;
  text-align: center;
}

#pageSettingsDropdown span {
  margin-left: 10px;
}

#pageSettingsDropdown>div {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  width: 70%;
}

#pageSettingsDropdown>div>.pageSettingsLabels {
  margin-bottom: 5px;
  display: inline-block;
}

#pageSettingsDropdown>div>.react-switch {
  margin-left: 10px;
  transform: translateY(7px);
}

.overlayOptionsDropdown {
  right: 70px;
  top: 60px;
  width: 400px !important;
  height: auto !important;
}

.overlayOpenOptions {
  padding: 0px 10px;
  border-bottom: 1px dotted black;
}
.overlay-multilevel {
  padding-top: 5px;
}

.overlayOpenOptions label {
  font-size: 0.9em;
  padding-left: 5px;
}

.overlayConditions {
  margin: 0px 0px;
  border-top: 1px dotted black;
  display: grid;
}

.overlayConditions>input {
  height: 40px;
  width: 100%;
  font-size: 0.8em;
  padding-left: 10px;
  font-family: "Montserrat";
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.overlayConditions>select {
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 40px;
  margin: 5px 0px;
  width: 100%;
  font-size: 0.8em;
  padding-left: 0.25em;
  font-family: "Montserrat";
}

.overlayConditionsDisabled {
  opacity: 0.5;
}

.overlayConditionsDisabled input {
  pointer-events: none;
}

.overlayConditionsDisabled select {
  pointer-events: none;
}

.overlayConditionsDisabled:hover {
  cursor: not-allowed;
}
.modal-overlay-button{
  color: var(--dark) !important;
  font-size: .8em !important;
  height: auto !important;
  margin-top: 8px;
  margin-left: 30px;
  right: 0px;
  float: right;
  border: 2px outset rgb(136, 136, 136) !important;
  --color: rgb(161, 255, 148);
  background-color: var(--color) !important;
  border-color: var(--color) !important;
  width: auto !important;
  height: auto !important;
  padding: 7px !important;
}
.overlay-title{
  float: left;
}
.overlay-title-container{
  display: inline-block;
}


.timelineDropdown>.menu>div>div>.menu-item>.icons-right>.icon-button>.fa-angle-up,
.timelineDropdown>.menu>div>div>.menu-item>.icons-right>.icon-button>.fa-angle-down {
  color: white;
  font-size: 1.1em;
  transform: translate(3px, -1px);
}

.pageSettingsColorButtons button {
  left: 0px !important;
  color: black !important;
  margin-left: 0 !important;
  height: 35px !important;
  font-size: 15px !important;
  border-radius: 0px !important;
}

.pageSettingsColorButtons>div>button {
  width: 100% !important;
  margin-top: 5px;
}

.pageSettingsColorButtons>button {
  width: 33% !important;
  margin-bottom: 5px;
}

/* Dropdown Menu */

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }
  
}

.dropdown {
  position: absolute;
  width: 300px;
  min-height: 42px;
  z-index: 200000;
  white-space: nowrap;
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0rem;
  overflow: hidden;
  transition: var(--speed) ease;
  box-shadow: var(--box-shadow);
  font-family: 'Montserrat', sans-serif;
  animation-duration: 0.5s;
  animation-name: grow;
}

.dropdown[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.timelineDropdown {
  right: 2.5%;
  top: 60px;
  animation-name: none !important;
}

.menu {
  width: 100%;
  font-size: 1.3rem;
}

.menu h1 {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 100;
  color: #636363;
}

.icon-button:hover {
  cursor: pointer;
}

.overlaySettingsSub {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 100;
  color: #636363;
}

#rolesdrops>.dropdown>.menu>div>.menu-item {
  padding-left: 10px;
}

.menu-item {
  text-align: left;
  width: 100% !important;
  height: 45px;
  display: flex;
  color: #636363;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  margin-bottom: 0px;
  cursor: pointer;
  padding: 9px;
}
.menu-item-container {
  height: 100%;
  width: 80%;
  display: flex;
  text-align: left !important;
  align-items: center;
}

.loadingMediaAlert {
  width: 25px;
  height: 15px;
  display: inline-block;
}

.loadingMediaAlert>.spinner {
  height: 20px;
  width: 20px;
  filter: grayscale(1);
  background-color: transparent;
}


.loadingMediaAddMenuContainer {
  width: 100%;
  height: 100%;
}

.loadingMediaAddMenuContainer>.spinner {
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.dropdown-add-disabled>.menu-item>.icon-button {

}


.dropdown-add-disabled>.menu-item>.icon-button:hover {
  cursor: not-allowed !important;
}

.menu-item h2 {
  font-size: 1.5rem;
}
.menu-item h1 {
  overflow: hidden;
  max-width: 60%;
}

.menu-item[disabled] {
  pointer-events: none;
  cursor: unset;
  opacity: 0.5;
}

.menu-item[disabled] * {
  pointer-events: none;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: lightgrey;
}

.icon-right {
  margin-left: auto;
}


.gamemode i {
  position: relative;
  top: 4px !important;
  left: -10px !important;
}


/* CSSTransition classes  */

.menu-primary-enter {
  position: absolute;
  opacity: 0.5;
  transform: translateX(-110%);
}



.menu-primary-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  opacity: 1;
  position: absolute;
}

.menu-primary-exit-active {
  opacity: 0.5;
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  opacity: 0.5;
  position: absolute;
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  opacity: 1;
  position: absolute;
}

.menu-secondary-exit-active {
  opacity: 0.5;
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.icons {
  color: var(--primary);
  fill: var(--primary) !important;
  font-size: 1.1rem;
  width: 25px;
  height: 25px;
  position: relative;
  top: 3px;
  left: 8px;
}

#dswitch {
  position: absolute;
  left: -120px;
  bottom: 97px;
}

#eswitch {
  position: absolute;
  left: -120px;
  bottom: 45px;
}

.react-switch {
  margin-left: auto;
  margin-right: 10px;
}

.dropdown button {
  position: relative;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--primary);
  background-color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

.dropdown button:hover {
  cursor: pointer;
  background-color: #f6f5f5;
}

.dropdown button::selection {
  background-color: var(--white);
  color: white;
}
.nav {
  animation-name: slideDown;
  animation-duration: 0.5s;
}
.button-vars{
  display: inline-block !important;
}

.button-vars h1{
  float: left !important;
  position: relative;
  left: 15px;
  top: 18px;
  width: 0% !important;
}

.float-righty{
  float: right!important;
  width: 40% !important;
}
.float-left{
  float: left!important;
  width: 40% !important;
}
.margin-bottom {
  margin-bottom: 10px !important;
}
.variable-dsplay{

  padding: 2px;
}
.var-output{
  display: inline-block !important;
  width: auto !important;
  text-align: left !important;
  border: 1px solid var(--dark);
  border-radius: 10px;
}
.math-drop{
  width: 38% !important;
}
.math {
  font-size: 0.7em !important;
  font-weight: bold !important;
  height: 30px !important;
  width: 30% !important;
  z-index: 1000;
}
.radio-dropdown h1 {
  font-size: 0.5em !important;
  text-align: left !important;
  opacity: 0.5;
  margin-top: -10px !important;
}
.condition{
  float: right !important;
  width: 40px !important;
  width: 45% !important;
}
.conditions{
  margin-bottom: 5px;
}
.larger {
  width: 45% !important;
  margin-right: 5px !important;
}
.math:hover{
  position: absolute;
  height: 50px !important;
  width: 93% !important;
  font-size: 0.7em !important;
}
.mathy {
  font-size: 0.7em !important;
  font-weight: bold !important;
  height: 30px !important;
  width: 30% !important;
  z-index: 100;
}
.mathy:hover{
  position: absolute;
  left: 10px;
  height: 50px !important;
  width: 93% !important;
  font-size: 0.7em !important;
}

#pagetype input, #pagetype textarea {
  position: relative;
  left: 20px;
  top: 10px;
  color: grey;
  background-color: #f6f5f5;
  font-weight: 700;
  text-align: left;
  width: 250px;
  height: 50px;
  border: none;
  padding: 4px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 30px;
}

#numOfPagesLabel {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  color: #636363;
}

#numOfPagesInput {
  padding: 0;
  width: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  border: none;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

#numOfPagesInput::-webkit-inner-spin-button, #numOfPagesInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#numOfPagesInput:hover {
  cursor: default;
}

#numOfPagesInput:focus {
  border: none;
  outline: none;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.numOfPagesInputBtn {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  margin: 2px !important;
  font-size: 1em !important;
  transform: translateY(-3px);
}

.pageNameInput {
  border-radius: 0.3em;
  border: solid 2px grey;
  font-size: 0.9em;
  padding-left: 0.25em;
  height: 100%;
  margin: 3px 10px;
  font-family: "Montserrat", sans-serif;
}

.pageNameInput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#pagetype input::placeholder {
  opacity: 0.8;
  color: grey;
}

#colourp {
  position: relative;
  left: 35px;
}

#imgselect {
  position: relative;
  top: -35px;
  left: 60px;
  background-color: white;
  height: 20px;
}

.addObjectFilePicker {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

#fileI {
  position: absolute;
  top: 67px;
  left: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #636363;
}

#imginput {
  position: absolute;
  top: 118px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imginputname {
  position: absolute;
  top: 173px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputname::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#sizeinput {
  position: relative;
  width: 200px;
  left: 20px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.1em;
  font-size: 1.2em;
  padding-left: 3.0em;
}

#sizeinput::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 2.0rem;
  color: #636363;
}

#sizeinput:target {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #636363;
}

#imginputv {
  position: absolute;
  top: 63px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputv::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

.fas.disabled {
  color: grey;
}

.fas.disabled:hover {
  cursor: not-allowed;
}

.icon-button.disabled {
  filter: saturate(0);
}

.icon-button.disabled:hover {
  cursor: not-allowed;
  filter: saturate(0);
}

#roleNameAdd {
  width: 70%;
  padding: 15x;
  height: 100%;
}

#roleNumAdd {
  width: 15%;
  height: 100%;
  margin-left: 5px;
}

.add-dropdown-item-input {
  border-radius: 0.5em;

  border: solid 1px grey;
  padding: 15px;
  font-size: 0.9em;
  padding-left: 0.5em;
  width: 82%;
  height: 70%;
}

.add-dropdown-item-input::placeholder {
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  color: #636363;
}

.role-name-input {
  position: absolute;
  top: 60px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 1px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

.role-name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

.settings-icons{
  font-size: 2.7rem;
}

#imginputvname {
  position: absolute;
  top: 116px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 1px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputvname::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imgsource {
  position: relative;
  top: 0px;
  left: 0px;
}
#fontpick {
  position: relative;
  left: 20px;
  margin-bottom: -100px;
}
.lni{
  position: relative;
  bottom: -1px;
}
.lni-chevron-down {
  position: relative;
  bottom: 2px;
}
.lni-chevron-up {
  position: relative;
  bottom: 2px;
}
.lni-stop {
  position: relative;
  top: 1px;
}

.add-media-button {
  position: relative !important;
  left: 0px !important;
  width: 100% !important;
  text-align: left !important;
  height: auto !important;
  color: var(--text-color) !important;
  font-size: 0.8em !important;
  padding: 13px !important;
  background-color: transparent !important;
}
.add-media-button:hover {
  background-color: transparent !important;
}
.timeline-var{
  padding-left: 10px;
  padding-right: 10px;
}
.margin-left{
  margin-left: 10px;
}

.title-timeline{
  display: inline-block !important;
  height: auto;
}

.float-right{
  position: absolute;
  right:0px;
  top: 0px;
}
.float-left{

}

.small{
  font-size: 0.6em !important;
}
.smaller{
  font-weight: lighter;
  margin-bottom: 5px;
}

/* Role description  */



.dropdown-desc {
  position: absolute;
  right: 0px;
  align-items: center !important;

}
.dropdown-desc svg{
  width: 27px !important;
  height: 27px !important;
  bottom: 0px !important;
  left: -6px !important;
}
.dropdown-desc svg:hover{
  cursor: pointer;
  fill: white !important;
}
.dropdown-desc button:hover {
  background-color: var(--primary) !important;

}
.role-desc{
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  vertical-align: text-top;
  color: var(--text-color);
  padding: 10px;
  resize: none;
  margin-top: 10px;
}

.roles-submit{
  margin-right: 25px !important;
  margin-bottom: 10px !important;
  height: auto !important;
  padding: 3px;
  background-color: var(--primary) !important;
  color: white !important;
  border-radius: 8px !important;
  width: 90% !important;
}

.add-icons {
  position: relative;
  left: 2px !important;
  bottom: -2px !important;
  fill: var(--primary) !important;
}
.roles-icons{
  fill: var(--primary) !important;
  position: relative !important;
  left: 2px !important;
  bottom: -1px !important;
}
.card {
  width: 10px !important;
  height: 10px !important;
}
.nav-icons {
  position: relative;
  left: 5px;
  bottom: 3px !important;
}
.timeline-roles{
  position: relative;
  left: 2px !important;
  bottom: -2px !important;
}
.chevron {
  position: relative;
  left: 2px !important;
  bottom: 0px !important;
}
.pencil {
  width: 30px !important;
  height: 30px !important;
  position: relative;
  top: 3px;
}
.setting-icon {
  width: 50px !important;
  height: 50px !important;
}
.plus {
  width: 30px !important;
  height: 30px !important;
  vertical-align: -50% !important;
}
.small-icon {
  width: 30px !important;
  height: 30px !important;
  position: relative;
  bottom: 0px;
    vertical-align: -40% !important;
}
.overlay-icon {
  fill: var(--primary) !important;
}
.note-icon {
  fill: var(--white) !important;
  width: 30px !important;
  height: 30px !important;
  position: relative;
  left: 5px;
  bottom: 6px;
}
.white {
  fill: var(--white) !important;
  width: 30px !important;
  height: 30px !important;
  position: relative;
  left: 5px;
  bottom: 6px;
}
.create-icon {
  fill: var(--dark) !important;
  margin-left: 10px !important;
}


.group-heading-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-heading-wrapper .indicator {
  margin-left: 8px;
}

.group-heading-wrapper.collapsed + div {
  display: none;
}

.multilevel-interaction {
  width: 40%;
}

