
:root {
  --bg: white;
  --bg-accent: white;
  --text-color: #636363;
  --nav-size: 60px;
  --border: 1px solid #181818;
  --border-radius: 20px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */


/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size );
  background-color: #8f001a;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  left: 580px;
  top: -500px;
  width: 300px;
  height: 200px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
}

.menu h1{
  padding: 10px;
  font-size: 1.5rem;
  color: #636363;
}

.menu-item {
  height: 55px;
  display: flex;
  color: #636363;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  margin-bottom: 0px;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: lightgrey;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(300%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

#icons {
  color: white;
  font-size: 1.1rem;
}

#iconst {
  color: white;
  font-size: 2.0rem;
}

#switch1{
    position: absolute;
    left: -120px;
    bottom: 210px;
}
#switch2{
    position: absolute;
    left: -120px;
    bottom: 155px;
}
#switch3{
    position: absolute;
    left: -120px;
    bottom: 100px;
}
#switch4{
    position: absolute;
    left: -120px;
    bottom: 45px;
}
#switch5{
    position: absolute;
    left: -120px;
    bottom: -10px;
}

#switchtime{
    position: absolute;
    left: -110px;
    bottom: 165px;
}

#dswitch{
    position: absolute;
    left: -120px;
    bottom: 97px;
}

#eswitch{
    position: absolute;
    left: -120px;
    bottom: 45px;
}

.dropdown button {
  position: relative;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #8f001a;
  background-color: white;
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

.dropdown button:hover {
  cursor: pointer;
  background-color: #f6f5f5;
}

.dropdown button::selection {
  background-color: #8f001a;
  color: white;
}

#pagetype{

}

#pagetype input, #pagetype textarea {
  position: relative;
  left: 20px;
  top: 10px;
  color: grey;
  background-color: #f6f5f5;
  font-weight: 700;
  text-align: left;
  width: 250px;
  height: 50px;
  border: none;
  padding: 4px;
  outline: none;
  font-family: 'Raleway';
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 30px;
}

#pagetype input::placeholder{
  opacity: 0.8;
  color: grey;
}

#colourp {
  position: relative;
  left: 35px;
}

#imgselect {
  position: relative;
  top: -35px;
  left: 60px;
  background-color: white;
  height: 20px;
}
#fileI {
  position: absolute;
  top: 67px;
  left: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #636363;
}
#imginput {
  position: absolute;
  top: 118px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginput::placeholder {
  font-family:  "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}

#imginputv {
  position: absolute;
  top: 63px;
  left: 50px;
  border-radius: 0.3em;
  border: solid 2px grey;
  padding: 0.8em;
  font-size: 0.7em;
  padding-left: 1.5em;
}

#imginputv::placeholder {
  font-family:  "Montserrat", sans-serif;
  font-size: 1.0rem;
  color: #636363;
}


#imgsource {
  position: relative;
  top: 0px;
  left: 0px;
}
