.gametic {
  z-index: 1;
}

.gametic ol, .gametic ul {
  padding-left: 30px;
}

.board-rowtic:after {
  clear: both;
  content: '';
  display: table;
}

.statustic {
  display: inline;
  margin-bottom: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vw;
  font-weight: 700;
}

.ticTacToeButtons {
  float: right;
  height: 10px;
}

.ticTacToeButtons > button {
  margin: 2px;
  padding: 1px;
}

.squaretic {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.squaretic:focus {
  outline: none;
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}

.edit-container {
  background-color: white;
  border: 1px solid black;
  width: 20%;
  height: 20%;
  position: relative;
  left: 300px;
  top: -346px;
}