.editshapes0 {
  float: right;
  width: 500px;
  height: 600px;
  text-align: center;
  position: absolute;
  left: 1850px;
  bottom: 170px;
  padding:20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.editshapes1 {
  width: 500px;
  height: 600px;
  text-align: center;
  position: absolute;
  left: 1500px;
  bottom: 170px;
  padding:20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.editshapes0 h1{
  transform: rotate(-90deg);
  position: relative;
  top: 30px;
  left: -45px;
  margin-top: 2px;
  float: left;
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color: #8f001a;
}

.editshapes0 b{
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color:  #636363;
  float: left;
  position: absolute;
  top: 50px;
  left: 1000px;
  margin-right: 10px;
  text-align: left;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}
.editshapes1 h1{
  position: relative;
  top: -5px;
  margin-top: 2px;
  float: left;
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color:  #8f001a;
}

.editshapes1 b{
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color: #181818;
  float: left;
  position: absolute;
  top: 50px;
  left: 30px;
  margin-right: 10px;
  text-align: left;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.editshapes0 button{
  transform: rotate(-90deg);
  color: #8f001a;
  z-index: 1;
  position: relative;
  bottom: -530px;
  right: 260px;
  border: none;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.editshapes0 button:hover{
  cursor: pointer;
  z-index: 1;

}
.editshapes1 button{
  transform: rotate(-90deg);
  color: #8f001a;
  z-index: 1;
  position: relative;
  bottom: -530px;
  right: 260px;
  border: none;
  transition-duration: 0.3s !important;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.editshapes1 button:hover{
  cursor: pointer;
  z-index: 1;
  border: none;
  background-image:
}

#opacity0{
  transform: rotate(-90deg);
  position: absolute;
  top: 300px;
  left: -35px;
  margin-top: 2px;
  float: left;
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color: #8f001a;
}

#opacity1{
  position: absolute;
  top: 290px;
  margin-top: 2px;
  float: left;
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color:  #8f001a;
}
