* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat",
}
body {
  background-color: #636363;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

footer {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 2.5rem;
  background-color: inherit;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.welcome {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  font-size: 3em;
  height: 100%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.welcome-noanim {
  animation: unset;
}
.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
.welcome-container > * {
  margin-bottom: 10px;
}
.welcome-join {
  display: flex;
  align-items: center;
}

.welcome input::placeholder {
  color: grey;
  opacity: 0.8;
}

.homebody{
  margin-top: 7%;
}

.welcome-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.welcome-navbutton {
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
  background: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px #ccc;
  padding: 30px;
  margin: 20px 50px;
  max-width: 350px;
  text-align: center;
  flex: 1;
}

.welcome-navbutton h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin-bottom: 20px;
  color: #181818;
}

.welcome-navbutton img {
  position: relative;
  top: 0px;
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.textbox {
  border-radius: 2em;
  border: none;
  margin: 1em;
  padding: 0.8em;
  color: #181818;
  font-size: 0.7em;
  font-family: inherit;
  padding-left: 1.5em;
  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%),
    inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

.dashboard {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%; 
  overflow: hidden;
  /* animation: 1s ease-out 0s 1 slideInFromLeft; */
}
.dashboard > hr {
  align-self: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
}
.dashboard-home {
  align-self: flex-start;
  margin-bottom: 10px;
}
.page-margin {
  width: 85%;
}

.dashsim {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.dashboard-new {
  display: flex;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  background: inherit;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.dashboard-new > span {
  text-decoration: underline;
  margin-right: 10px;
}

.addbutton {
  padding: 5px 10px;
  align-self: flex-start;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}
.addbutton:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

.joinboard-header {
  display: flex;
  align-items: flex-end;
}
.joinboard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto 10px;
  min-width:0;
}
.joinboard-image {
  height: 100px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  opacity: 100%;
}
.joinboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  word-break:break-word;
}
.joinboard-buttons {
  margin-left: auto;
  display: flex;
}
.joinboard-button {
  color: white;
  font-size: 1.5rem;
  position: relative;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #8f001a;
}

.bimg {
  position: absolute;
  left: -40px;
  width: 1700px;
  height: 938px;
  z-index: 1;
  top: -320px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8;
}

#under_menu_line {
  margin-top: 30px;
  margin-bottom: 30px;
}

#new:hover {
  text-align: center;
  cursor: pointer;
  font-weight: 7000;
}

.gamepage {
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20rem;
  color: white;
  background-color: #e5e5e5;
  overflow: hidden;
}

/* edit page stuff */
.editpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  overflow: hidden;
  align-content: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.eheader {
  position: absolute;
  top: 800px;
  width: 100vw;
}

#levels input, select{
  position: relative;
  top: -870px;
  left: 220px;
  color: #181818;
  border: solid 2px #636363;
  font-size: 2.0rem;
  font-family: inherit;
  border-radius: 10px;
}

#editmode{
  opacity: 0.7;
  transform: rotate(45deg);
  position: absolute;
  top: -720px;
  left: 1660px;
  font-family: 'Cedarville Cursive', cursive;
}

#save{
  position: relative;
  top: -1000px;
  left: 840px;
  width: 100px;
  height: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

#save:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}


.saved {
  position: fixed;
  top: -8px;
  left: 90px;
  z-index: 1;
  padding: 1.5em;
  background-color: white;
  border: solid #8f001a 2px ;
  border-radius: 8px;
  transform: translateY(-100%);
  transition: transform .3s;
}
.saved-active {
  transform: translateY(0);

}
.saved h1 {
  font-family:  "Montserrat", sans-serif;
  font-size: 1.45rem;
  font-weight: 700;
  color: #636363;
  position: relative;
  text-align: center;
  top: 0px;
}
#link {
  color: white;
  font-size: inherit;
  text-decoration: underline;
  border: none;
  outline: none;
  background: inherit;
  font-family:  "Montserrat", sans-serif;
  cursor: pointer;
}
#authbutton {
  position: relative;
  left: -200px;
}

.bimgjoin {
  position: absolute;
  left: -20px;
  width: 1900px;
  height: 937px;
  z-index: 2000;
  top: -100px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8;
}

.selectrole-container{
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 10000;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 2px solid black;
}

/* TO BE DELETED */
.editpagetest {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  line-height: 1.5;
}
.editpagetest-paused {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
}
/* TO BE DELETED */

@media screen and (orientation: portrait) {
  .playbtn{
    left: 132px;
    width: 50px;
    height: 50px;
  }
  .pausebtn{
    left: 160px;
    width: 50px;
    height: 50px;
  }
  .refreshbtn{
    left: 190px;
    width: 50px;
    height: 50px;
  }

  .saved {
    left: 200px;
    padding: 1em;
  }

  .page-margin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashsim {
    justify-content: center;
  }

  .welcome-nav {
    flex-direction: column;
  }
  .welcome-navbutton {
    max-width: 60%;
    min-width: 450px;
  }

  .addbutton {
    align-self: unset;
  }

  .joinboard-info {
    margin-top: 20px;
    max-width: 100%;
    margin-left: 0;
  }
  .joinboard-buttons {
    margin-left: unset;
    margin-top: 20px;
    justify-content: center;
  }
  .joinboard-title {
    text-align: center;
  }
}