* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

html {
  font-family: 'Raleway';
}
body {
  background-color: #636363;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {

}

footer {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: inherit;
}

.welcome {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  margin-top: 100px;
  text-align: center;
}

.welcome h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  margin-top: 100px;
  text-align: center;
}
.welcome p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 70px;
  text-align: center;
}
.welcomep1 {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 400px;
  height: 400px;
  margin: 30px;
  margin-left: 355px;
  margin-top: 100px;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  position: relative;
}

.welcomep1 h1 {
  margin-top: -60px;
  color: #181818;
}

.welcomep1 img {
  position: relative;
  top: 40px;
  height: 200px;
}

.textbox {
  border-radius: 2em;
  border: none;
  margin: 2em;
  padding: 0.8em;
  color: #181818;
  font-size: 0.7em;
  padding-left: 1.5em;
  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%),
    inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

.dashboard {
  color: #181818;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  position: relative;
}

.bimg {
  position: absolute;
  left: -20px;
  width: 1900px;
  height: 987px;
  z-index: 1;
  top: -200px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8;
}

.dashboard hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
}

#under_menu_line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dashboard h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 25px;
  text-align: left;
}

.dashboard h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 25px;
  margin-left: 100px;
  text-align: left;
}

#new {
  display: flex;
  position: relative;
  top: 20px;
  left: 100px;
  width: 600px;
  color: white;
  margin-bottom: 50px;
  font-family: 'Raleway';
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: underline;
}

#new:hover {
  text-align: center;
  cursor: pointer;
  font-weight: 7000;
}

.gamepage {
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20rem;
  color: white;
  background-color: #e5e5e5;
  overflow: hidden;
}

/* edit page stuff */
.editpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  overflow: hidden;
}

#levels input, select{
  position: relative;
  top: -870px;
  left: 220px;
  color: #181818;
  border: solid 2px #636363;
  font-size: 2.0rem;
  font-family: inherit;
  border-radius: 10px;
}

#editmode{
  opacity: 0.7;
  transform: rotate(45deg);
  position: absolute;
  top: 60px;
  left: 1740px;
  font-family: 'Cedarville Cursive', cursive;
}

#save{
  position: relative;
  top: -1000px;
  left: 840px;
  width: 100px;
  height: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

#save:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}
