* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat",
}
body {
  background-color: #636363;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

code {

}

footer {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: inherit;
}

.welcome {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  font-size: 4.0vw;
  text-align: center;
  display: flex;
  flex-flow: column;
  flex-grow: auto;
  flex-wrap: wrap;
  height: 100%;
}


.welcome a {
  color: #0645AD;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  margin-top: 100px;
  text-align: center;
}
.welcome p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  margin-top: 20px;
  text-align: center;
}
.welcome input::placeholder {
  color: grey;
  opacity: 0.8;
}

.homebody{
  margin-top: 7%;
}
.welcomep2 {
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 5%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px #ccc;
  padding: 30px;
  width: 20%;
}

.welcomep2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  margin-top: 0px;
  color: #181818;
}

.welcomep2 img {
  position: relative;
  top: 0px;
  height: 200px;
  width: 100%;
}

.textbox {
  border-radius: 2em;
  border: none;
  margin: 2em;
  padding: 0.8em;
  color: #181818;
  font-size: 0.7em;
  padding-left: 1.5em;
  outline: none;
  box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%),
    inset 0px 4px 6px -5px hsl(0, 0%, 2%);
}

.dashboard {
  color: #181818;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  display: block;
  flex: wrap;
  position: relative;
  height: 100%;
  overflow:  hidden;
}

.bimg {
  position: absolute;
  left: -40px;
  width: 1700px;
  height: 938px;
  z-index: 1;
  top: -320px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8;
}


.dashboard hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
}

#under_menu_line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dashboard h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-top: 50px;
  margin-left: 25px;
  text-align: left;
}

.dashboard h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 25px;
  margin-left: 100px;
  text-align: left;
}

.dashsim {
  height: 100%;
}

#new {
  display: flex;
  position: relative;
  top: 20px;
  left: 100px;
  width: 600px;
  color: white;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: underline;
}

#new:hover {
  text-align: center;
  cursor: pointer;
  font-weight: 7000;
}

.gamepage {
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20rem;
  color: white;
  background-color: #e5e5e5;
  overflow: hidden;
}

/* edit page stuff */
.editpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  overflow: hidden;
  align-content: center;
}

.eheader {
  position: absolute;
  top: 800px;
  width: 100vw;
}

#levels input, select{
  position: relative;
  top: -870px;
  left: 220px;
  color: #181818;
  border: solid 2px #636363;
  font-size: 2.0rem;
  font-family: inherit;
  border-radius: 10px;
}

#editmode{
  opacity: 0.7;
  transform: rotate(45deg);
  position: absolute;
  top: -720px;
  left: 1660px;
  font-family: 'Cedarville Cursive', cursive;
}

#save{
  position: relative;
  top: -1000px;
  left: 840px;
  width: 100px;
  height: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}

#save:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

#editpagex {
  position: absolute;
  top: -750px;
  color: #8f001a;
  left: 1760px;
}
#saved {
  position: absolute;
  top: -8px;
  left: 300px;
  width: 200px;
  height: 50px;
  background-color: white;
  border: solid #8f001a 2px ;
  border-radius: 0%;
  transform: translateX(-110%);
  transition: all var(500ms) ease;
}
#saved h1 {
  font-family:  "Montserrat", sans-serif;
  font-size: 1.45rem;
  font-weight: 700;
  color: #636363;
  position: relative;
  text-align: center;
  top: 0px;
}
#joinimg {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 120px;
  border: 2px solid black;
  border-radius: 30px;
  opacity: 100%;
}
#jointitle{
  position: absolute;
  font-size: 1.5rem;
  top: 50px;
  left: 100px;
  font-weight: 700;
}

.studentbutton {
  position: sticky;
  top: 10px;
  left: 200px;
  width: 400px;
  height: 50px;
  font-family:  "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #8f001a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px
}
.studentbutton:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px grey;
}

.bimgjoin {
  position: absolute;
  left: -20px;
  width: 1900px;
  height: 937px;
  z-index: 2000;
  top: -100px;
  right: 0px;
  bottom: 0px;
  opacity: 0.8;
}

.playbtn{
  color: white;
  font-size: 1.5rem;
  position: relative;
  bottom: 10px;
  left: 882px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #8f001a;
}
.pausebtn{
  color: white;
  font-size: 1.5rem;
  position: relative;
  bottom: 10px;
  left: 922px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #8f001a;
}
.refreshbtn{
  color: white;
  font-size: 1.5rem;
  position: relative;
  bottom: 10px;
  left: 962px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #8f001a;
}
.selectrole-container{
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 10000;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 2px solid black;
}

@media screen and (max-width: 960px){
  .welcomep2 {
    align-items: center;
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-top: 5%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 20%;
    height: 200px;
  }
  .welcomep2 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-top: 0px;
    color: #181818;
  }
  .welcomep2 img {
    position: relative;
    top: 0px;
    height: 100px;
    width: 80%;
  }

  .playbtn{

    left: 132px;
    width: 50px;
    height: 50px;

  }
  .pausebtn{

    left: 160px;
    width: 50px;
    height: 50px;
  }
  .refreshbtn{

    left: 190px;
    width: 50px;
    height: 50px;

  }
}
