.NavbarItems {
  background-color: #8f001a;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.img {
  margin-left: 0.5rem;
  font-size: 2rem;
  height: 30px;
  vertical-align: middle;
}

.nav-menu {
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 2vw;
}

.nav-links:hover {
  background-color: grey;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-pic {
  align-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.nav-pic:hover {
  background-color: grey;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-picbutton {
  align-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 10px;
  position: relative;
  right: -260px;
  top: 0px;
}

.pbut {
  position: relative;
  bottom: -30px;
}

.profilepic {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50px;
  left: 120px;
  border-radius: 30px;
}

.profilename {
  color: white;
  position: absolute;
  left: 450px;
  top: 200px;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.profilevist > * {
  margin: 5px 0px;
}

@media screen and (orientation: landscape) {
  .profilevist {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    z-index: 1;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top: 90px;
    border-radius: 3px;
    color: #181818;
    background: white;
    transition: all 0.3s;
  }

  .profilevist h2 {
    color: #181818;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
  }

  .profilevist-closed {
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: none;
  }
}

@media screen and (orientation: portrait) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    background: #181818;
    display: flex;
    flex-direction: column;
    width: calc(100% + 20px);
    position: absolute;
    top: 80px;
    transform: translateX(-20px);
    opacity: 0;
    padding: 20px 0;
    pointer-events: none;
  }

  .nav-menu > a,
  .nav-menu > button {
    margin: 5px 0;
  }

  .nav-pic {
    display: none;
  }

  .nav-menu.active {
    transform: none;
    opacity: 1;
    transition: all 0.3s;
    z-index: 1;
    width: 100%;
    pointer-events: unset;
  }
  .nav-links {
    text-align: center;
    position: relative;
    top: -50px;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: grey;
    border-radius: 2;
  }
  .nav-pics {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .menu-icon {
    display: inline-flex;
    margin-right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .menu-close {
    color: white;
    font-size: 2rem;
  }
  .nav-links-mobile {
    position: relative;
    top: -100px;
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 4px;
    width: 80%;
    background: #8f001a;
    text-decoration: none;
    color: white;
    font-size: 2rem;
  }
  .nav-links-mobile:hover {
    background: white;
    color: black;
    transition: 250ms;
  }

  .profilevist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profilevist h2,
  .profilevist a {
    color: white;
  }
}
