.card-container,
.card-container red {
    transition: top 0.5s;
    left: 3px;
    
}   

.red {
    width: 98px;
    height: 144px;
    border: 1.5px solid #f25f5c;
    color: #f25f5c !important;
    fill: #f25f5c !important;
    background-color: white;
    top: -0px;

}

.card-container {
    width: 90px;
    height: 144px;
    border: 1.5px solid #f25f5c;
    color: black;
    fill: black;
    background-color: white;
    top: -0px;
 
}

.deck-container {
    color: rgb(107, 107, 107);
    position: relative;
    width: 100px;
    height: 140px !important;
    box-shadow: 5px 5px;
    background-color: lightcoral;
    border-radius: 5px;
    transition: top 0.5s;
}

.card-back {
    position: relative;
    left: -36px !important;
    top: -30px !important;
    width: 167px;
    height: 200px;
    padding: -30px !important;
    color: #f25f5c;
    fill: #f25f5c;
}

.card-back-edit {
    position: relative;
    left: 2px;
    top: 2px;
    transform: scale(1.65);
    padding: -30px !important;
    color: #f25f5c;
    fill: #f25f5c;
}

.shuffle-button {
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 6px;
    position: relative;
    top: 100px;
    z-index: 1000;
}

.deck-red {
    font-size: 9.9em;
    position: relative;
    top: -44px;
    left: -4.5px;
}

.deck-black {
    font-size: 9.9em;
    position: relative;
    top: -44px;
    left: -4.5px;
}

.context-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    z-index: 1000;
    animation-duration: 0.3s;
    animation-name: slidein;
    position: relative;
    top: -30px;
    left: 100px;

}

.context-menu button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 2px;
    width: 100%;
    text-align: left;

}

.context-menu button:hover {
    background-color: #eee;
}

.card-preview p {
    position: relative;
    width: 50%;
    top: -140px;
    left: 30px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-size: 0.1em !important;

}

#deck-preview-game {
    position: relative;
    top: 31px;
    left: 4.5px;
    width: 105px;
    height: 140px;
    background-color: white;
    pointer-events: none;
    cursor: default;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-back {
    transform: rotateY(180deg);
}

@keyframes slidein {
    from {
        margin-top: 20%;
        opacity: 0;
    }

    to {
        margin-bottom: 0%;
        opacity: 1;
    }
}