.card-container,
.card-container red {
    transition: top 0.5s;  
    
}   

.decks-red {
    width: 98px;
    height: 144px;
    color: #f25f5c !important;
    fill: #f25f5c !important;
    background-color: white;
    top: -0px;

}

.card-container {
    width: 100px;
    height: 144px;
    color: black;
    fill: black;
    background-color: white;
    top: -0px;
 
 
}

.deck-container {

}

.card-back {
    position: relative;
    left: -1px !important; 
    top: -1px !important; 
    width: 100px;
    height: 144px;
    padding: 2px !important;
    color: #f25f5c;
    fill: #f25f5c;
    background-color: whitesmoke;
}

.card-back-edit {
    padding: 2px;
    color: rgb(107, 107, 107);
    fill: #f25f5c;
    width: 100px;
    height: 144px;
    border-radius: 5px;
    box-shadow: 1px 1px;
}

.shuffle-button {
    background-color: white;
    color: black;
    border-radius: 9px;
    padding: 6px;
    position: relative;
    top: 100px;
    z-index: 1000;
}

.deck-red {
    font-size: 9.9em;
    position: relative;
    top: -44px;
    left: 0px;
}

.deck-black {
    font-size: 9.9em;
    position: relative;
    top: -43px;
    left: 0px;
}

.context-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    z-index: 1000;
    animation-duration: 0.3s;
    animation-name: slidein;
    position: relative;
    top: -30px;
    left: 100px;
    font-size: 0.8em;
    
}

.context-menu button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    padding: 0px 0px;
    width: 100%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.context-menu button:hover {
    background-color: #eee;
}
.context-menu-dropdown{
    display: flex;
    flex-direction: row;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 13px;
    padding: 0px 0px;
    width: 100%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    align-items: center;
}
.context-menu-dropdown select{
    height: 50%;
    border: 0px solid black;
    border-radius: 4px;
    font-size: 12px;
    padding: 0px;
    margin-left: 5px;
    width: 50%;
}

.card-preview p {
    position: relative;
    width: 50%;
    top: -140px;
    left: 30px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    font-size: 0.1em !important;

}

#deck-preview-game {
    position: relative;
    top: 31px;
    left: 4.5px;
    width: 105px;
    height: 140px;
    background-color: white;
    pointer-events: none;
    cursor: default;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0px;
  
}

.card-back {
    transform: rotateY(180deg);
}

@keyframes slidein {
    from {
        margin-top: 20%;
        opacity: 0;
    }

    to {
        margin-bottom: 0%;
        opacity: 1;
    }
}