.poll {
  width: 500px;
  text-align: left;
}

.sv_body {
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px 5px 5px 5px;
  box-shadow: var(--box-shadow);
}

.customObj {
  position: relative;
  user-select: none;
}